{% extends './../base.html' %}
{% load static %}
{% block title %}Account{% endblock %}
{% block content %}


<!-- Start Page Title Area -->
<div class="page-title-area item-bg-2">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>My Profile</h2>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li>{{request.user.username}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<div class="sign-in-are ptb-40 pb-70">

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="tab products-details-tab">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 mb-4">
                            <ul class="tabs nav-fill">
                                <li>
                                    <a href="#" class="rounded-pill">
                                        <div class="dot"></div>
                                        Account Information
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="rounded-pill">
                                        <div class="dot"></div>
                                        Linked Facilities
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="rounded-pill">
                                        <div class="dot"></div>
                                        List a Facility
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="tab_content">
                                <div class="tabs_item">
                                    <div class="products-details-tab-content">
                                        <form action="{% url 'account_edit' %}" method="post"
                                            enctype="multipart/form-data" class="form">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-12 mb-2">
                                                    <h3>Basic user information</h3>
                                                </div>
                                                <div class="col-md-4 input-group-lg mb-2">
                                                    <label for="first_name" class="form-label">First Name</label>
                                                    <input type="text" class="form-control shadow-none"
                                                        name="first_name" id="first_name" placeholder="First Name"
                                                        value="{{request.user.first_name}}">
                                                </div>
                                                <div class="col-md-4 input-group-lg mb-2">
                                                    <label for="last_name" class="form-label">Last Name</label>
                                                    <input type="text" id="last_name" class="form-control shadow-none"
                                                        name="last_name" placeholder="Last Name"
                                                        value="{{request.user.last_name}}">
                                                </div>
                                                <div class="col-md-4 input-group-lg mb-2">
                                                    <label for="username" class="form-label">Username</label>
                                                    <input type="text" disabled id="username"
                                                        class="form-control shadow-none" name="username"
                                                        placeholder="Username" value="{{request.user.username}}">
                                                </div>
                                                <div class="col-md-4 input-group-lg mb-3">
                                                    <label for="email" class="form-label">Email</label>
                                                    <input type="text" id="email" class="form-control shadow-none"
                                                        name="email" placeholder="Email" value="{{request.user.email}}">
                                                </div>
                                                <div class="col-md-4 input-group-lg my-2 d-flex align-items-center">
                                                    <button class="btn btn-primary rounded-pill px-5">
                                                        Update
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                        <form action="{% url 'account_profile_edit' %}" method="post"
                                            enctype="multipart/form-data" class="form mt-4">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-12 mb-2">
                                                    <h3>Advanced information</h3>
                                                </div>
                                                <div class="col-md-4 input-group-lg mb-2">
                                                    <label for="phone" class="form-label">Phone Number</label>
                                                    <input type="text" id="phone" class="form-control shadow-none"
                                                        name="phone_number" placeholder="Phone Number"
                                                        value="{{request.user.profile.phone_number}}">
                                                </div>
                                                <div class="col-md-4 input-group-lg mb-2">
                                                    <label for="gender" class="form-label">Gender
                                                        ({{request.user.profile.gender}})</label>
                                                    <select type="text" id="gender" class="w-100 shadow-none"
                                                        name="gender" placeholder="Gender"
                                                        value="{{request.user.profile.gender}}">
                                                        <option value="">Select Gender</option>
                                                        <option value="male">Male</option>
                                                        <option value="female">Female</option>
                                                        <option value="prefer_not_to_say">Prefer not to say</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4 input-group-lg mb-2">
                                                    <label for="country" class="form-label">Country</label>
                                                    <input type="text" id="country" class="form-control shadow-none"
                                                        name="country" placeholder="Country"
                                                        value="{{request.user.profile.country}}">
                                                </div>
                                                <div class="col-md-4 input-group-lg mb-2">
                                                    <label for="city" class="form-label">City</label>
                                                    <input type="text" id="city" class="form-control shadow-none"
                                                        name="city" placeholder="City"
                                                        value="{{request.user.profile.city}}">
                                                </div>
                                                <div class="col-md-4 input-group-lg mb-2">
                                                    <label for="postal_code" class="form-label">Postal Code</label>
                                                    <input type="text" id="postal_code" class="form-control shadow-none"
                                                        name="postal_code" placeholder="Postal Code"
                                                        value="{{request.user.profile.postal_code}}">
                                                </div>
                                                <div class="col-md-4 input-group-lg my-2 d-flex align-items-center">
                                                    <button class="btn btn-primary rounded-pill px-5">
                                                        Update
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                        <form action="{% url 'account_profile_photo_edit' %}" method="post"
                                            enctype="multipart/form-data" class="form mt-4">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-12 mb-2">
                                                    <h3>Profile Picture</h3>
                                                </div>
                                                <div class="col-md-4 input-group-lg mb-2">
                                                    <p class="text-center mb-1">Current profile picture</p>
                                                    <div class="rounded-circle overflow-hidden bg-light mx-auto d-flex justify-content-center align-items-center"
                                                        style="width: 100px; height: 100px;">
                                                        <img src="{% if request.user.profile.profile_photo %} {{request.user.profile.profile_photo.url}} {% endif %}"
                                                            width="90%" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 input-group-lg mb-2 d-flex align-items-center">
                                                    <div class="w-100">
                                                        <label for="profile_photo" class="form-label">Profile
                                                            Photo</label>
                                                        <input type="file" id="profile_photo"
                                                            class="form-control shadow-none" name="profile_photo"
                                                            placeholder="Old Password">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 input-group-lg my-2 d-flex align-items-center">
                                                    <button class="btn btn-primary rounded-pill px-5">
                                                        Update
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                        <form action="{% url 'account_change_password' %}" method="post"
                                            enctype="multipart/form-data" class="form mt-4">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-12 mb-2">
                                                    <h3>Security</h3>
                                                </div>
                                                <div class="col-md-4 input-group-lg mb-2">
                                                    <label for="old_password" class="form-label">Old Password</label>
                                                    <input type="password" id="old_password"
                                                        class="form-control shadow-none" name="old_password"
                                                        placeholder="Old Password">
                                                </div>
                                                <div class="col-md-4 input-group-lg mb-2">
                                                    <label for="password" class="form-label">New Password</label>
                                                    <input type="password" id="password"
                                                        class="form-control shadow-none" name="password"
                                                        placeholder="New Password">
                                                </div>
                                                <div class="col-md-4 input-group-lg mb-2">
                                                    <label for="password1" class="form-label">Confirm Password</label>
                                                    <input type="password" id="password1"
                                                        class="form-control shadow-none" name="password1"
                                                        placeholder="Confirm Password">
                                                </div>
                                                <div class="col-md-4 input-group-lg my-2 d-flex align-items-center">
                                                    <button class="btn btn-primary rounded-pill px-5">
                                                        Update
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="tabs_item">
                                    <div class="products-details-tab-content">
                                        <div class="row">
                                            <div class="col-12 mb-3">
                                                <h2>Listed by you</h2>
                                            </div>
                                            {% for facility in my_facilities %}
                                            {% include './../components/facilitycard.html' with facility=facility %}
                                            {% endfor %}
                                            {% if my_facilities|length == 0 %}
                                            <p>You have not listed any facilities yet!</p>
                                            {% endif %}
                                            <div class="col-12 mb-3">
                                                <h2>As a patient</h2>
                                            </div>
                                            {% if request.user.patient %}
                                            {% include './../components/facilitycard.html' with facility=request.user.patient.facility hide_more_info=True %}
                                            {% for facility in request.user.patient.facilities.all %}
                                            {% include './../components/facilitycard.html' with facility=facility hide_more_info=True %}
                                            {% endfor %}
                                            {% else %}
                                            <p>You are not a patient!</p>
                                            {% endif %}
                                            <div class="col-12 mb-3">
                                                <h2>As a doctor</h2>
                                            </div>
                                            {% if request.user.doctor %}
                                            {% include './../components/facilitycard.html' with facility=request.user.doctor.facility %}
                                            {% else %}
                                            <p>You are not a doctor!</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                                <div class="tabs_item">
                                    <div class="products-details-tab-content">
                                        <form action="{% url 'create_facility' %}" method="POST"
                                            enctype="multipart/form-data" class="form">
                                            {% csrf_token %}
                                            <div class="row">

                                                <div class="col-12 mb-2">
                                                    <h3>Basic facility information</h3>
                                                </div>
                                                <div class="col-md-12 input-group-lg mb-2">
                                                    <label for="name" class="form-label">Name</label>
                                                    <input type="text" required class="form-control shadow-none"
                                                        name="name" id="name" placeholder="Facility Name"
                                                        value="{{facility.name}}">
                                                </div>
                                                <div class="col-md-12 input-group-lg mb-2">
                                                    <label for="description" class="form-label">Description</label>
                                                    <textarea type="text" required id="description"
                                                        class="form-control shadow-none" name="description"
                                                        placeholder="Describe the facility"
                                                        value="{{facility.description}}">
                                                    </textarea>
                                                </div>
                                               
                                                  
                                                <div class="col-md-12 input-group-lg mb-2">
                                                    <select name="facility_kind">
                                                        <option value="option" selected>Select Category</option>
                                                        <option  value="pharmacy">Pharmacy</option>
                                                        <option  value="clinic">Clinic</option>
                                                        <option  value="nutraceuticals">Nutraceuticals</option>
                                                    </select>
                                                </div>
                                                <div class="col-12 mb-2">
                                                    <h3>Contact information</h3>
                                                </div>
                                                <div class="col-md-4 input-group-lg mb-2">
                                                    <label for="fphone_number" class="form-label">Phone Number</label>
                                                    <input type="text" required id="fphone_number"
                                                        class="form-control shadow-none" name="contact_no"
                                                        placeholder="Facility Phone number"
                                                        value="{{facility.contact_no}}">
                                                </div>
                                                <div class="col-md-4 input-group-lg mb-3">
                                                    <label for="femail" class="form-label">Email</label>
                                                    <input type="text" id="femail" class="form-control shadow-none"
                                                        name="email" required placeholder="Facility Email"
                                                        value="{{facility.email}}">
                                                </div>
                                                <div class="col-md-4 input-group-lg mb-3">
                                                    <label for="address" class="form-label">Address</label>
                                                    <input type="text" id="address" class="form-control shadow-none"
                                                        name="address" required placeholder="Facility address"
                                                        value="{{facility.address}}">
                                                </div>

                                                <div class="col-12 mb-2">
                                                    <h3>Location Details</h3>
                                                </div>
                                                <div class="col-md-4 input-group-lg mb-2">
                                                    <label for="county" class="form-label">County</label>
                                                    <select type="text" required id="county" class="w-100" name="county"
                                                        placeholder="County" value="{{facility.county}}">
                                                        <option value="">Select county</option>
                                                        {% for county in counties %}
                                                        <option value="{{county.id}}">{{county.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-md-4 input-group-lg mb-3">
                                                    <label for="city" class="form-label">City</label>
                                                    <input type="text" required id="city"
                                                        class="form-control shadow-none" name="city" placeholder="City"
                                                        value="{{facility.city}}">
                                                </div>
                                                <div class="col-md-4 input-group-lg mb-3">
                                                    <label for="location" class="form-label">Location Name</label>
                                                    <input type="text" required id="location"
                                                        class="form-control shadow-none" name="location"
                                                        placeholder="Location" value="{{facility.location}}">
                                                </div>

                                                <div class="col-12 mb-2">
                                                    <h3>Geo Coordinates</h3>
                                                </div>
                                                <div class="col-md-6 input-group-lg mb-2">
                                                    <label for="latitude" class="form-label">Latitude</label>
                                                    <input type="text" id="latitude" class="form-control shadow-none"
                                                        name="latitude" required placeholder="Latitude"
                                                        value="{{facility.latitude}}">
                                                </div>
                                                <div class="col-md-6 input-group-lg mb-3">
                                                    <label for="longitude" class="form-label">Longitude</label>
                                                    <input type="text" id="longitude" class="form-control shadow-none"
                                                        name="longitude" required placeholder="Longitude"
                                                        value="{{facility.longitude}}">
                                                </div>

                                                <div class="col-12 mb-2">
                                                    <h3>Facility Specialities</h3>
                                                </div>
                                                <div class="col-md-12 input-group-lg mb-2">
                                                    <label for="specialities" class="form-label">Specialities</label>
                                                    <!-- <select type="text" id="specialities" multiple class="w-100"
                                                        name="specialities" placeholder="Specialities"
                                                        value="{{facility.specialities}}">
                                                        <option value="">Select specialities</option>
                                                        {% for speciality in specialities %}
                                                        <option value="{{speciality.id}}">{{speciality.name}}</option>
                                                        {% endfor %}
                                                    </select> -->
                                                    <div class="row">
                                                        {% for speciality in specialities %}
                                                        <div class="col-6 col-md-4">
                                                            <div class="form-check">
                                                                <input type="checkbox" name="specialities"
                                                                    class="form-check-input" id="spe_{{speciality.id}}"
                                                                    value="{{speciality.id}}">
                                                                <label class="form-check-label"
                                                                    for="spe_{{speciality.id}}">{{speciality.name}}</label>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>

                                                <div class="col-12 mb-2">
                                                    <h3>Images</h3>
                                                </div>
                                                <div class="col-md-6 input-group-lg mb-2">
                                                    <label for="logo" class="form-label">Logo</label>
                                                    <input type="file" id="logo" class="form-control shadow-none"
                                                        name="logo" placeholder="Logo" value="{{facility.logo}}"
                                                        accept="image/*">
                                                </div>
                                                <div class="col-md-6 input-group-lg mb-3">
                                                    <label for="cover_image" class="form-label">Cover Image</label>
                                                    <input type="file" id="cover_image" class="form-control shadow-none"
                                                        name="cover_image" placeholder="Cover Image"
                                                        value="{{facility.cover_image}}" accept="image/*">
                                                </div>


                                                <div class="col-md-4 input-group-lg my-2 d-flex align-items-center">
                                                    <button class="btn btn-primary rounded-pill px-5">
                                                        Create facility
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="tabs_item">
                                    <div class="products-details-tab-content">
                                        content 4
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}