{% extends './../components/base.html' %}
{% load static %}

{% block content %}
<div class="content-body">
	<!-- row -->
	<div class="container-fluid">
		<div class="text-end mb-3">
			<button class="btn btn-primary btn-rounded add-staff" data-bs-toggle="modal"
				data-bs-target="#staff-add-form">+ Add Staff</button>
		</div>
		<div class="row">
			<div class="col-xl-12">
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<table id="example5" class="table table-striped patient-list mb-4 dataTablesCard fs-14">
								<thead>
									<tr>
										<th>
											<div class="checkbox text-end align-self-center">
												<div class="form-check custom-checkbox ">
													<input type="checkbox" class="form-check-input" id="checkAll"
														required="">
													<label class="form-check-label" for="checkAll"></label>
												</div>
											</div>
										</th>
										<th>Name</th>
										<th>Designation</th>
										<th>Email</th>
										<th>Mobile</th>
										<th>Address</th>
										<th>Joining Date</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									{% for staff in staffs %}
									<tr>
										<td>
											<div class="checkbox text-end align-self-center">
												<div class="form-check custom-checkbox ">
													<input type="checkbox" class="form-check-input" id="customCheckBox2"
														required="">
													<label class="form-check-label" for="customCheckBox2"></label>
												</div>
											</div>
										</td>
										<td class="patient-info ps-0">
											<span>
												<img src="{{staff.user.profile.profile_photo.url}}" alt="">
											</span>
											<span class="text-nowrap ms-2">{{staff.user.first_name}} {{staff.user.last_name}}</span>
										</td>
										<td>
											<span>{{staff.user.designation}}</span>
										</td>

										<td class="text-primary">{{staff.user.profile.phone_number}}</td>
										<td class="text-primary">{{staff.user.email}}</td>
										<td>{{staff.user.profile.address}}</td>

										<td>{{staff.created}}</td>
										<td>
											<span class="me-3">
												<a href="#"><i class="fa fa-eye fs-18"></i></a>
											</span>
											<span class="me-3">
												<a href="javascript:void(0);" class="edit-staff"><i
														class="fa fa-pencil fs-18 text-success"></i></a>
											</span>
											<span>
												<i class="fa fa-trash-o fs-18 text-danger"></i>
											</span>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<div class="modal fade" id="staff-edit-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Edit Staff</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="row">

						<div class="col-xl-6">
							<div class="form-group">
								<label for="message-text" class="col-form-label">Name:</label>
								<input type="text" class="form-control" id="" placeholder="Name">
							</div>
						</div>
						<div class="col-xl-6">
							<div class="form-group">
								<label for="message-text" class="col-form-label">Last Name:</label>
								<input type="text" class="form-control" id="" placeholder="Last Name">
							</div>
						</div>
						<div class="col-xl-12">
							<div class="form-group">
								<label for="message-text" class="col-form-label">Date Of Birth:</label>
								<input size="16" type="date" value="13-9-2021" class="form-control">
							</div>
						</div>
						<div class="col-xl-6">
							<div class="form-group">
								<label for="message-text" class="col-form-label">Gender:</label>
								<select class="form-control">
									<option>Male</option>
									<option>Female</option>
								</select>
							</div>
						</div>
						<div class="col-xl-6">
							<div class="form-group">
								<label for="message-text" class="col-form-label">Designation:</label>
								<input type="text" class="form-control" id="" placeholder="Nurse">
							</div>
						</div>

						<div class="col-xl-6">
							<div class="form-group">
								<label for="message-text" class="col-form-label">Mobile No:</label>
								<input type="number" class="form-control" id="" placeholder="Mobile">
							</div>
						</div>

						<div class="col-xl-6">
							<div class="form-group">
								<label for="message-text" class="col-form-label">Email Id:</label>
								<input type="email" class="form-control" id="" placeholder="Email">
							</div>
						</div>
						<div class="col-xl-12">
							<div class="form-group">
								<label for="message-text" class="col-form-label">Address :</label>
								<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
							</div>
						</div>
						<div class="col-xl-6">
							<div class="form-group">
								<label for="exampleFormControlFile1">Profile Picture:</label>
								<input type="file" class="form-control-file" id="exampleFormControlFile1">
							</div>
						</div>
						<div class="col-xl-12">
							<div class="form-group">
								<label for="message-text" class="col-form-label">Education :</label>
								<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
							</div>
						</div>

					</div>


				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="staff-add-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Add Staff</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
				</button>
			</div>
			<div class="modal-body">
				<form id="add-staff-form" action="{% url 'staff_create' request.facility.id %}"
					enctype="multipart/form-data" method="post">
					{% csrf_token %}
					<div class="row">

						<div class="col-xl-6">
							<div class="form-group">
								<label for="message-text" class="col-form-label">First Name</label>
								<input type="text" class="form-control" id="" placeholder="First Name"
									name="first_name">
							</div>
						</div>
						<div class="col-xl-6">
							<div class="form-group">
								<label for="message-text" class="col-form-label">Last Name</label>
								<input type="text" class="form-control" id="" placeholder="Last Name" name="last_name">
							</div>
						</div>
						<div class="col-xl-6">
							<div class="form-group">
								<label for="message-text" class="col-form-label">Username</label>
								<input type="text" class="form-control" id="" placeholder="Username" name="username">
							</div>
						</div>
						<div class="col-xl-6">
							<div class="form-group">
								<label for="message-text" class="col-form-label">City</label>
								<input type="text" class="form-control" id="" placeholder="City" name="city">
							</div>
						</div>
						<div class="col-xl-12">
							<div class="form-group">
								<label for="message-text" class="col-form-label">Date Of Birth:</label>
								<input size="16" type="date" value="13-9-2021" class="form-control" name="dob">
							</div>
						</div>
						<div class="col-xl-6">
							<div class="form-group">
								<label for="message-text" class="col-form-label">Gender</label>
								<select class="form-control" name="gender">
									<option>Male</option>
									<option>Female</option>
								</select>
							</div>
						</div>
						<div class="col-xl-6">
							<div class="form-group">
								<label for="message-text" class="col-form-label">Designation:</label>
								<input type="text" class="form-control" id="" placeholder="Nurse" name="designation">
							</div>
						</div>

						<div class="col-xl-6">
							<div class="form-group">
								<label for="message-text" class="col-form-label">Mobile No</label>
								<input type="number" class="form-control" id="" placeholder="Mobile"
									name="phone_number">
							</div>
						</div>

						<div class="col-xl-6">
							<div class="form-group">
								<label for="message-text" class="col-form-label">Email</label>
								<input type="email" class="form-control" id="" placeholder="Email" name="email">
							</div>
						</div>
						<div class="col-xl-12">
							<div class="form-group">
								<label for="message-text" class="col-form-label">Postal Code</label>
								<input type="text" class="form-control" id="" placeholder="Postal Code"
									name="postal_code">
							</div>
						</div>
						<div class="col-xl-12">
							<div class="form-group">
								<label for="message-text" class="col-form-label">Address</label>
								<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
									name="address"></textarea>
							</div>
						</div>
						<div class="col-xl-6">
							<div class="form-group">
								<label for="exampleFormControlFile1">Profile Picture:</label>
								<input type="file" class="form-control-file" id="exampleFormControlFile1"
									name="profile_photo">
							</div>
						</div>
						<div class="col-xl-12">
							<div class="form-group">
								<label for="message-text" class="col-form-label">Education</label>
								<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
									name="education"></textarea>
							</div>
						</div>

					</div>

				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="submit" form="add-staff-form" class="btn btn-primary">Save</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}