<div class="card h-100 shadow border-0">
    <div class="card-body">
        <div class="widget-popular-product-container">
            <div class="facility-card-image">
                {% if facility.cover_image %}
                <img src="{{facility.cover_image.url}}" loading="lazy" alt="" class="rounded">
                {% else %}
                <div class="h-100 rounded bg-dark d-flex justify-content-center align-items-center p-2 text-center">
                    <a href="{% url 'facility' facility.id facility.slug %}"
                        class="widget-popular-product-title d-block text-white">
                        {{ facility.name }}
                    </a>
                </div>
                {% endif %}
            </div>
            <div class="hstack gap-2 py-2">
                {% for speciality in facility.specialities.all %}
                <span class="badge rounded bg-secondary mb-1">{{speciality.name}}</span>
                {% endfor %}
            </div>
            <div class="widget-popular-product-content">
                <a href="{% url 'facility' facility.id facility.slug %}" class="widget-popular-product-title d-block"
                    data-toggle="tooltip" data-placement="top" title="{{facility.name}}">
                    <h4>
                        {{ facility.name|truncatechars:25 }}
                    </h4>
                </a>
                {% if facility.description is not None %}
                <p class="widget-popular-product-text">
                    {{ facility.description|striptags|truncatechars:50 }}
                </p>
                {% endif %}
                <div>
                    <p class="m-0 p-0">
                        <small>
                            County: {{facility.county.name}}
                        </small>
                    </p>
                    <p class="m-0 p-0">
                        <small>
                            Constituency:
                            <span data-toggle="tooltip" data-placement="top" title="{{facility.constituency.name}}">
                                {{facility.constituency.name|truncatechars:20}}
                            </span>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
