{% extends './../base.html' %}
{% load humanize %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="page-description">
                <h1>Dashboard</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4">
            <div class="card widget widget-stats">
                <div class="card-body">
                    <div class="widget-stats-container d-flex">
                        <div class="widget-stats-icon widget-stats-icon-primary">
                            <i class="material-icons-outlined">account_circle</i>
                        </div>
                        <div class="widget-stats-content flex-fill">
                            <span class="widget-stats-title">Active Users</span>
                            <span class="widget-stats-amount">{{users_count}}</span>
                            <!-- <span class="widget-stats-info">790 unique this month</span> -->
                        </div>
                        <!-- <div class="widget-stats-indicator widget-stats-indicator-positive align-self-start">
                            <i class="material-icons">keyboard_arrow_up</i> 12%
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card widget widget-stats">
                <div class="card-body">
                    <div class="widget-stats-container d-flex">
                        <div class="widget-stats-icon widget-stats-icon-purple">
                            <i class="material-icons-outlined">self_improvement</i>
                        </div>
                        <div class="widget-stats-content flex-fill">
                            <span class="widget-stats-title">Doctors</span>
                            <span class="widget-stats-amount">{{doctors_count}}</span>
                            <!-- <span class="widget-stats-info">790 unique this month</span> -->
                        </div>
                        <!-- <div class="widget-stats-indicator widget-stats-indicator-positive align-self-start">
                            <i class="material-icons">keyboard_arrow_up</i> 12%
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card widget widget-stats">
                <div class="card-body">
                    <div class="widget-stats-container d-flex">
                        <div class="widget-stats-icon widget-stats-icon-warning">
                            <i class="material-icons-outlined">support_agent</i>
                        </div>
                        <div class="widget-stats-content flex-fill">
                            <span class="widget-stats-title">Staff</span>
                            <span class="widget-stats-amount">{{staff_count}}</span>
                            <!-- <span class="widget-stats-info">790 unique this month</span> -->
                        </div>
                        <!-- <div class="widget-stats-indicator widget-stats-indicator-positive align-self-start">
                            <i class="material-icons">keyboard_arrow_up</i> 12%
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card widget widget-stats">
                <div class="card-body">
                    <div class="widget-stats-container d-flex">
                        <div class="widget-stats-icon widget-stats-icon-danger">
                            <i class="material-icons-outlined">personal_injury</i>
                        </div>
                        <div class="widget-stats-content flex-fill">
                            <span class="widget-stats-title">Patients</span>
                            <span class="widget-stats-amount">{{patients_count}}</span>
                            <!-- <span class="widget-stats-info">790 unique this month</span> -->
                        </div>
                        <!-- <div class="widget-stats-indicator widget-stats-indicator-positive align-self-start">
                            <i class="material-icons">keyboard_arrow_up</i> 12%
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card widget widget-stats">
                <div class="card-body">
                    <div class="widget-stats-container d-flex">
                        <div class="widget-stats-icon widget-stats-icon-primary">
                            <i class="material-icons-outlined">person</i>
                        </div>
                        <div class="widget-stats-content flex-fill">
                            <span class="widget-stats-title">Clinics</span>
                            <span class="widget-stats-amount">{{clinics_count}}</span>
                            <!-- <span class="widget-stats-info">790 unique this month</span> -->
                        </div>
                        <!-- <div class="widget-stats-indicator widget-stats-indicator-positive align-self-start">
                            <i class="material-icons">keyboard_arrow_up</i> 12%
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="card widget widget-stats">
                <div class="card-body">
                    <div class="widget-stats-container d-flex">
                        <div class="widget-stats-icon widget-stats-icon-purple">
                            <i class="material-icons-outlined">vaccines</i>
                        </div>
                        <div class="widget-stats-content flex-fill">
                            <span class="widget-stats-title">Pharmacies</span>
                            <span class="widget-stats-amount">{{pharmacies_count}}</span>
                            <!-- <span class="widget-stats-info">790 unique this month</span> -->
                        </div>
                        <!-- <div class="widget-stats-indicator widget-stats-indicator-positive align-self-start">
                            <i class="material-icons">keyboard_arrow_up</i> 12%
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="card widget widget-stats">
                <div class="card-body">
                    <div class="widget-stats-container d-flex">
                        <div class="widget-stats-icon widget-stats-icon-purple">
                            <i class="material-icons-outlined">local_convenience_store</i>
                        </div>
                        <div class="widget-stats-content flex-fill">
                            <span class="widget-stats-title">Nutraceutacals</span>
                            <span class="widget-stats-amount">{{nutraceutacals_count}}</span>
                            <!-- <span class="widget-stats-info">790 unique this month</span> -->
                        </div>
                        <!-- <div class="widget-stats-indicator widget-stats-indicator-positive align-self-start">
                            <i class="material-icons">keyboard_arrow_up</i> 12%
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="card widget widget-stats">
                <div class="card-body">
                    <div class="widget-stats-container d-flex">
                        <div class="widget-stats-icon widget-stats-icon-warning">
                            <i class="material-icons-outlined">maps_home_work</i>
                        </div>
                        <div class="widget-stats-content flex-fill">
                            <span class="widget-stats-title">Facility Types</span>
                            <span class="widget-stats-amount">{{facility_types_count}}</span>
                            <!-- <span class="widget-stats-info">790 unique this month</span> -->
                        </div>
                        <!-- <div class="widget-stats-indicator widget-stats-indicator-positive align-self-start">
                            <i class="material-icons">keyboard_arrow_up</i> 12%
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="card widget widget-stats">
                <div class="card-body">
                    <div class="widget-stats-container d-flex">
                        <div class="widget-stats-icon widget-stats-icon-success">
                            <i class="material-icons-outlined">inventory_2</i>
                        </div>
                        <div class="widget-stats-content flex-fill">
                            <span class="widget-stats-title">Products (Live)</span>
                            <span class="widget-stats-amount">{{live_products_count}}</span>
                            <!-- <span class="widget-stats-info">790 unique this month</span> -->
                        </div>
                        <!-- <div class="widget-stats-indicator widget-stats-indicator-positive align-self-start">
                            <i class="material-icons">keyboard_arrow_up</i> 12%
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="card widget widget-stats">
                <div class="card-body">
                    <div class="widget-stats-container d-flex">
                        <div class="widget-stats-icon widget-stats-icon-danger">
                            <i class="material-icons-outlined">inventory_2</i>
                        </div>
                        <div class="widget-stats-content flex-fill">
                            <span class="widget-stats-title">Products (Pending approval)</span>
                            <span class="widget-stats-amount">{{pending_products_count}}</span>
                            <!-- <span class="widget-stats-info">790 unique this month</span> -->
                        </div>
                        <!-- <div class="widget-stats-indicator widget-stats-indicator-positive align-self-start">
                            <i class="material-icons">keyboard_arrow_up</i> 12%
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="card widget widget-stats">
                <div class="card-body">
                    <div class="widget-stats-container d-flex">
                        <div class="widget-stats-icon widget-stats-icon-primary">
                            <i class="material-icons-outlined">medication</i>
                        </div>
                        <div class="widget-stats-content flex-fill">
                            <span class="widget-stats-title">Specialities</span>
                            <span class="widget-stats-amount">{{specialities_count}}</span>
                            <!-- <span class="widget-stats-info">790 unique this month</span> -->
                        </div>
                        <!-- <div class="widget-stats-indicator widget-stats-indicator-positive align-self-start">
                            <i class="material-icons">keyboard_arrow_up</i> 12%
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="card widget widget-stats">
                <div class="card-body">
                    <div class="widget-stats-container d-flex">
                        <div class="widget-stats-icon widget-stats-icon-warning">
                            <i class="material-icons-outlined">coronavirus</i>
                        </div>
                        <div class="widget-stats-content flex-fill">
                            <span class="widget-stats-title">Diseases</span>
                            <span class="widget-stats-amount">{{diseases_count}}</span>
                            <!-- <span class="widget-stats-info">790 unique this month</span> -->
                        </div>
                        <!-- <div class="widget-stats-indicator widget-stats-indicator-positive align-self-start">
                            <i class="material-icons">keyboard_arrow_up</i> 12%
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="card widget widget-stats">
                <div class="card-body">
                    <div class="widget-stats-container d-flex">
                        <div class="widget-stats-icon widget-stats-icon-warning">
                            <i class="material-icons-outlined">rss_feed</i>
                        </div>
                        <div class="widget-stats-content flex-fill">
                            <span class="widget-stats-title">Blogs</span>
                            <span class="widget-stats-amount">{{blogs_count}}</span>
                            <!-- <span class="widget-stats-info">790 unique this month</span> -->
                        </div>
                        <!-- <div class="widget-stats-indicator widget-stats-indicator-positive align-self-start">
                            <i class="material-icons">keyboard_arrow_up</i> 12%
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div>
        <div class="row">
            <div class="col-xl-6">
                <div class="card widget widget-list">
                    <div class="card-header">
                        <h5 class="card-title">Products<span class="badge badge-success badge-style-light">Recent</span>
                        </h5>
                    </div>
                    <div class="card-body">
                        <ul class="widget-list-content list-unstyled">
                            {% for product in products %}
                            <li class="widget-list-item">
                                <span class="widget-list-item-icon widget-list-item-icon-large">
                                    <div class="widget-list-item-icon-image"
                                        style="background: url('{{product.image.url}}')">
                                    </div>
                                </span>
                                <span class="widget-list-item-description">
                                    <a href="#" class="widget-list-item-description-title">
                                        {{product.name}}
                                    </a>
                                    <span class="widget-list-item-description-date">
                                        {{product.created_on}}
                                    </span>
                                </span>
                                <span class="widget-list-item-product-amount">
                                    KES {{product.price|intcomma}}
                                </span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card widget widget-list">
                    <div class="card-header">
                        <h5 class="card-title">Blog Posts<span class="badge badge-info badge-style-light">recent</span>
                        </h5>
                    </div>
                    <div class="card-body">
                        <ul class="widget-list-content list-unstyled">
                            {% for blog in blogs %}
                            <li class="widget-list-item widget-list-item-blog-post">
                                <span class="widget-list-item-icon widget-list-item-icon-large">
                                    <div class="widget-list-item-icon-image"
                                        style="background: url('{{blog.imgage.url}}')">
                                    </div>
                                </span>
                                <span class="widget-list-item-description">
                                    <a href="#" class="widget-list-item-description-title">
                                        {{blog.title|truncatechars:38}}
                                    </a>
                                    <span class="widget-list-item-description-content">
                                        {{blog.body|striptags|truncatewords:12}}
                                    </span>
                                </span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-5">
                <div class="card widget widget-list">
                    <div class="card-header">
                        <h5 class="card-title">Recent Users
                            <span class="badge badge-success badge-style-light">
                                Newly created accounts
                            </span>
                        </h5>
                    </div>
                    <div class="card-body">
                        <!-- <span class="text-muted m-b-xs d-block">showing 5 out of 14 new users.</span> -->
                        <ul class="widget-list-content list-unstyled">
                            {% for user in users %}
                            <li class="widget-list-item widget-list-item-green">
                                <span class="widget-list-item-avatar">
                                    <div class="avatar avatar-rounded">
                                        {% if user.profile.profile_photo %}
                                        <img src="{{user.profile.profile_photo.url}}" alt="">
                                        {% else %}
                                        <span class="h-100 w-100 d-flex bg-light">
                                            N/A
                                        </span>
                                        {% endif %}
                                    </div>
                                </span>
                                <span class="widget-list-item-description">
                                    <a href="#" class="widget-list-item-description-title">
                                        {{user.first_name}} {{user.last_name}}
                                    </a>
                                    <span class="widget-list-item-description-subtitle">
                                        {{user.username}}
                                    </span>
                                </span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-7">
                <div class="card widget widget-list">
                    <div class="card-header">
                        <h5 class="card-title">Recent Facilities<span
                                class="badge badge-info badge-style-light">recent</span>
                        </h5>
                    </div>
                    <div class="card-body">
                        <ul class="widget-list-content list-unstyled">
                            {% for facility in facilities %}
                            <li class="widget-list-item widget-list-item-blog-post">
                                <span class="widget-list-item-icon widget-list-item-icon-large">
                                    {% if facility.cover_image %}
                                    <div class="widget-list-item-icon-image"
                                        style="background: url('{{facility.cover_imgage.url}}')">
                                    </div>
                                    {% else %}
                                    <div
                                        class="widget-list-item-icon-image h-100 w-100 d-flex align-items-start justify-content-center">
                                        N/A
                                    </div>
                                    {% endif %}
                                </span>
                                <span class="widget-list-item-description">
                                    <a href="#" class="widget-list-item-description-title">
                                        {{facility.title|truncatechars:38}}
                                    </a>
                                    <span class="widget-list-item-description-content">
                                        {{facility.description|striptags|truncatewords:12}}
                                    </span>
                                </span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        "use strict";

        $('#datatable4 tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" class="form-control" placeholder="Search ' + title + '" />');
        });

        // DataTable
        var table = $('#datatable4').DataTable({
            // scrollY: "300px",
            // scrollCollapse: true,
            // paging: true,
            initComplete: function () {
                // Apply the search
                this.api().columns().every(function () {
                    var that = this;

                    $('input', this.footer()).on('keyup change clear', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                });
            }
        });

    })
</script>
{% endblock %}