{% extends 'base.html' %}
{% load static %}

{% block title %} Birthing Care Service  {% endblock title %}

{% block content %}

        <!-- Start Page Title Area -->
        <div class="page-title-area item-bg-7">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>Birthing Care</h2>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li>Birthing Care</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->
        
         
        <!-- Service details -->
        <div class="service-details ptb-100">
            <div class="container">
                <div class="row">
                    <div class="service-details-image col-6">
                        <img src="{% static 'assets/img/single-service.jpg'%}" alt="image">
                    </div>
                                         
                </div>
               

                <div class="service-details-content">
                    <h3>We care your health and checkup with best</h3>
                    <p>
                        Birthing care involves providing prenatal, labor , delivery and postpartum care through virtual means such as
video calls, phone calls or secure messaging. We also offer in person services through our affiliate medical
facilities near you. Benefits include increased access to care, convenience, and reduced risk of exposure to
illness. Cost reduction associated with birthing. Ultimately, the suitability of telehealth birthing care will
depend on individual circumstances and should be discussed with a healthcare provider.
                    </p>
                    <p>
                        Provision for In person of this services is done through affiliate medical service facilities near you.
These facilities will offer you with virtual prenatal and postnatal care services, as well as remote
monitoring of the birthing process. This could include consultations with obstetricians, access to
educational resources, and the ability to communicate with healthcare providers in real-time. By
leveraging technology, affiliate medical service facilities can help to increase access to birthing care
for women, especially in rural or under-served areas.
                    </p>
                    <p>
                        Create an account with us to consult our healthcare professionals who are always on standby to help you.
                    </p>
                    <div class="service-details-info">
                        <div class="single-info-box">
                            <h4>Client</h4>
                            <span>James Anderson</span>
                        </div>

                        <div class="single-info-box">
                            <h4>Category</h4>
                            <span>Fever, Allergies, Morbidity</span>
                        </div>

                        <div class="single-info-box">
                            <h4>Date</h4>
                            <span>February 28, 2022</span>
                        </div>

                        <div class="single-info-box">
                            <h4>Share</h4>
                            <ul class="social">
                                <li>
                                    <a target="_blank" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">
                                        <i class='fab fa-twitter'></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">
                                        <i class='fab fa-instagram'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="single-info-box">
                            <a class="default-btn" href="#">
                                Live Preview
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Service details -->

        {% endblock %}