{% extends 'base.html' %}
{% load static %}

{% block title %} Cancer Care Service  {% endblock title %}

{% block content %}

        <!-- Start Page Title Area -->
        <div class="page-title-area item-bg-8">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>Cancer Care</h2>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li>Cancer Care</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <!-- Service details -->
        <div class="service-details ptb-100">
            <div class="container">
                <div class="row">
                    <div class="service-details-image col-6">
                    <img src="{% static 'assets/img/family.jpg)'%}" alt="image">
                </div>
</div>
                <div class="service-details-content">
                    <p>
                        Cancer care refers to the diagnosis, treatment, and management of cancer, including surgery, chemotherapy, radiation therapy, and other medical procedures. The goal of cancer care is to cure or control the disease, relieve symptoms, and improve quality of life for patients. Cancer care is provided by a team of healthcare professionals including oncologists, surgeons, radiologists, and nurses.
                    </p>
                    <h3>TYPES OF CANCER</h3>
        
                    <p>There are many different types of cancer, which can be classified based on the type of cell and the part of the body affected. Some common types of cancer include:</p>
                    <p><b>Carcinoma:</b> cancer that starts in the skin or tissues that line the body's internal organs.</p>
                    <p><b> Sarcoma:</b> cancer that starts in bone, cartilage, fat, muscle, or other connective or supportive tissue.
                    </p>
                    <p><b>Leukemia:</b> cancer that starts in blood-forming tissue, such as bone marrow.
                    </p>
                    <p>
                        <b>Lymphoma:</b> cancer that starts in cells of the immune system.
                    </p>
                    <p>
                        <b>Lung cancer:</b> cancer that starts in the cells lining the air passages of the lungs.
                    </p>
                    <p>
                        <b>Breast cancer:</b> cancer that starts in the breast tissue.

                    </p>
                  <p>
                    <b>Prostate cancer: </b>cancer that starts in the prostate gland.
                  </p>
                  <p>
                    <b>Colorectal cancer:</b> cancer that starts in the colon or rectum.

                  </p>
                  <p>
                    <b>Liver cancer:</b> cancer that starts in the liver.
                  </p>
                  <p>
                    <b>Pancreatic cancer: </b>cancer that starts in the pancreas.

                  </p>
                  <p>This is not an exhaustive list, and there are many other types of cancer. The type of cancer and its stage of progression determine the best course of treatment, which may include surgery, radiation therapy, chemotherapy, or other medical procedures. Visit an oncologist for tests as soon as you suspect any unusual development on your health. <p>
                   <h3>TREATMENT OPTIONS FOR CANCER </h3>
                   <p>Treatment options for cancer vary depending on the type and stage of the disease. Some common treatments include:<p>
                   <ul>
                    <li>Surgery: removal of the cancerous tissue or organ</li>
                    <li>Radiation therapy: use of high-energy radiation to destroy cancer cells</li>
                    <li>Chemotherapy: use of drugs to kill cancer cells</li>
                    <li>Immunotherapy: use of drugs or other substances to stimulate the body's immune system to fight the cancer</li>
                    <li>Hormone therapy: use of drugs to block the production or effects of hormones that fuel the growth of certain types of cancer</li>
                    <li>Targeted therapy: use of drugs that target specific genetic mutations or proteins involved in cancer growth</li>
                    <li>Stem cell transplant: use of healthy stem cells to replace damaged cells after high-dose chemotherapy or radiation therapy</li>
                   </ul>
                    <p>
                        Each of these treatments may cause side effects, which can range from mild to severe depending on the individual and the type of treatment. Some common side effects of cancer treatment include:
                    Fatigue
                    </p>
                    <ul>
                        <li>Pain or discomfort</li>
                        <li>Nausea and vomiting</li>
                        <li>Hair loss</li>
                        <li>Mouth sores</li>
                        <li>Diarrhea</li>
                        <li>Decreased appetite</li>
                        <li>Infections</li>
                        <li>Anaemia</li>
                        <li>Changes in skin, nails, or eyes</li>

                    </ul>

                    <p>
                        It is important to discuss the potential side effects of a treatment plan with a healthcare provider and to report any adverse effects promptly. The healthcare provider can work with the patient to manage and minimize side effects, as well as adjust the treatment plan as needed.

                    </p>
                    <h3>Coping strategies for patients and caregivers</h3>
                    <p>Dealing with a cancer diagnosis and treatment can be a challenging and emotional experience for both patients and caregivers. Some strategies that can help cope with the physical, emotional, and practical aspects of cancer care include:
                    </p>
                    <ul>
                        <li>Talking to a trusted friend, family member, or mental health professional</li>
                        <li>Joining a support group or online community</li>
                        <li>Practicing stress-management techniques such as meditation, deep breathing, or exercise</li>
                        <li>Engaging in hobbies or other enjoyable activities</li>
                        <li>Making dietary and lifestyle changes to promote overall health and well-being</li>
                        <li>Staying informed about the latest developments in cancer treatment and care</li>
                        <li>Asking for help from friends, family, or community resources when needed</li>
                        <li>Prioritizing self-care, including getting enough sleep and taking breaks from caregiving duties</li>
                        <li>Seeking financial assistance and legal guidance, if needed</li>
                    </ul>
                    <p>Maintaining open and honest communication with healthcare providers about treatment goals and concerns
                        It is important to remember that everyone copes with cancer differently, and what works for one person may not work for another. The goal is to find strategies that are effective and help maintain a sense of control and well-being during this difficult time.
                    </p>
                    <h3>Lifestyle and wellness tips for cancer patients</h3>
                    <p>Living with cancer can be physically and emotionally challenging, but taking steps to maintain physical and emotional well-being can help improve quality of life. Some lifestyle and wellness tips for cancer patients include:
                    </p>
                    <ul>
                        <li>Eating a balanced, nutrient-rich diet, including plenty of fruits and vegetables.</li>
                        <li>Staying physically active, including engaging in moderate exercise such as walking or yoga.</li>
                        <li>Getting adequate sleep and practicing good sleep habits.</li>
                        <li>Reducing stress through techniques such as mindfulness meditation or deep breathing exercises, Staying hydrated by drinking plenty of water.</li>
                        <li>Avoiding tobacco, alcohol, and other substances that can harm health.</li>
                        <li>Keeping a positive attitude and maintaining a support system of family and friends.</li>
                        <li>Seeking regular medical check-ups and promptly reporting any symptoms or concerns to a healthcare provider.</li>
                        <li>Participating in cancer support groups or counselling services to address emotional and mental health needs.</li>
                        <li>Staying informed about cancer treatment options and advancements and making informed decisions about care.</li>
                    </ul>
                    <p>
                        Cancer is a disease characterized by the uncontrolled growth of abnormal cells in the body. It can affect various parts of the body and may be benign (not cancerous) or malignant (cancerous).
Treatment options for cancer vary depending on the type and stage of the disease and may include surgery, radiation therapy, chemotherapy, immunotherapy, hormone therapy, targeted therapy, or stem cell transplant. Each treatment may cause side effects, which can range from mild to severe.
Coping with a cancer diagnosis and treatment can be a challenging experience for both patients and caregivers. Coping strategies may include talking to a trusted friend, family member, or mental health professional, joining a support group, practicing stress-management techniques, engaging in hobbies, staying informed about the latest developments in cancer treatment, and asking for help.
Living with cancer can be physically and emotionally challenging, but taking steps to maintain physical and emotional well-being can help improve quality of life. Lifestyle and wellness tips for cancer patients may include eating a balanced diet, staying physically active, getting adequate sleep, reducing stress, avoiding harmful substances, keeping a positive attitude, seeking regular medical check-ups, participating in cancer support groups, and staying informed about cancer treatment options.

It is important to remember that everyone's needs are different, and what works for one person may not work for another. Cancer patients and survivors should work closely with their healthcare team to develop an individualized plan for wellness and self-care.

                    </p>
                    
                    <div class="service-details-info">
                        <div class="single-info-box">
                            <h4>Client</h4>
                            <span>James Anderson</span>
                        </div>

                        <div class="single-info-box">
                            <h4>Category</h4>
                            <span>Fever, Allergies, Morbidity</span>
                        </div>

                        <div class="single-info-box">
                            <h4>Date</h4>
                            <span>February 28, 2022</span>
                        </div>

                        <div class="single-info-box">
                            <h4>Share</h4>
                            <ul class="social">
                                <li>
                                    <a target="_blank" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">
                                        <i class='fab fa-twitter'></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">
                                        <i class='fab fa-instagram'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="single-info-box">
                            <a class="default-btn" href="#">
                                Live Preview
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Service details -->

        {% endblock %}