{% extends 'base.html' %}
{% load static %}

{% block title %} Emergencies {% endblock title %}

{% block content %}

        <!-- Start Page Title Area -->
        <div class="page-title-area item-bg-5">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>Emergencies</h2>
                            <ul>
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li>Emergencies</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <!-- Service details -->
        <div class="service-details ptb-100">
            <div class="container">
               

                <div class="service-details-content">
                    <h3>The real deal </h3>
        
                    <p>
                        Telehealth and telemedicine is a vital tool in emergency healthcare services. you can access remotely critical services such as virtual consultations with healthcare professionals, online triage tools, and telehealth hotlines. We also organize for emergency rescues using highly equipped ambulances in major cities across the republic of Kenya.  
                    </p>
                    <p>Access  to virtual emergency services</p>
                    <p>Call   0738 247 247  or  999   or local emergency services number in serious emergencies.
                        If it is a non-emergency medical issue, book an appointment with any of our doctors 24/7  for virtual care. Download our free telehealth app log in, Select the option for a virtual visit or emergency consultation, Provide your symptoms and medical history to the virtual provider.
                        Follow the instructions given by the provider, such as completing a video call or answering questions. If necessary, the virtual provider may direct you to seek in-person medical attention.
                        Note: It is important to know the limitations of telehealth services in emergency situations and to seek in-person medical attention when appropriate.
                    </p>
                    <h4>Who is eligible for telehealth emergency services</h4>
                    <p>
                        Eligibility for telehealth emergency services may vary based on factors such as:</p>
                    <p><b>Insurance coverage:</b> we work with major insurance service providers in Kenya  , but it's best to check with your insurance provider to confirm.
                    </p>
                    <p><b>Location:</b>Availability of telehealth emergency services may depend on the location of the patient and the laws and regulations in that state.
                    </p>
                    <p><b>Age:</b> Some telehealth services may have age restrictions, with different services being available to children, adults, and senior citizens.
                    </p>
                    <p><b> Health condition:</b> Patients with certain health conditions may not be eligible for virtual emergency services, and may need to seek in-person medical attention.
                    </p>
                     <p><b>Type of emergency:</b> Virtual emergency services may be limited to specific types of emergencies, such as non-life-threatening conditions.
                </p?
                <p>It is best to check verify your eligibility for telehealth emergency services with your insurance 

                    </p>            
                    <h4>What to do in a medical emergency</h4>
                    <p> In a medical emergency, it is important to follow these steps:</p>
                    <p>Call 0738 247 247 or your local emergency services number immediately.</p>
                    <p>Provide your location, phone number, and details about the emergency to the operator.</p>
                    <p>Follow the operator's instructions, such as performing CPR or providing first aid.</p>
                    <p>If possible, stay calm and keep the person safe until emergency services arrive.</p>
                    <p>If the emergency is not life-threatening, consider using telehealth services to speak with a doctor or nurse for advice on how to proceed.</p>
                     <p>If directed to do so by emergency services, go to the nearest hospital or emergency room for in-person medical attention.

                    </p>

                    <p>
                       <b> Note:</b><i>  In a serious medical emergency, it is always best to call or seek in-person medical attention. Telehealth services should not be relied upon as a substitute for emergency services in life-threatening situation
                       </i></p>

                    <h4>When to seek in-person emergency care<h4>
                    <p>It is important to seek in-person emergency care in the following situations:</p>
                    <p><b>Life-threatening emergencies:</b> Examples include chest pain, difficulty breathing, severe bleeding, sudden loss of consciousness, and suspected strokes or heart attacks</p>
                    <p><b>Injuries that require immediate medical attention:</b>Examples include broken bones, severe cuts, and head injuries.
                    </p>
                    <p><b>Suspected poisonings or overdoses:</b>Symptoms may include severe abdominal pain, confusion, seizures, or unconsciousness.</p>
                    <p><b>Mental health emergencies:</b> Examples include thoughts of suicide, severe anxiety or panic attacks, and severe depression.</p>
                    <p><b>Symptoms that persist or worsen:</b> If symptoms do not improve or get worse after consulting with a virtual provider, it is best to seek in-person medical attention.</p>
                    <p><b>Emergency situations where telehealth is not available or appropriate:</b> Examples include emergencies that occur outside of telehealth hours or in areas without reliable internet connectivity.</p>
                    <p><i>In general,   it is best to seek in-person medical attention in any situation where you believe the person's health is at risk. The safety and well-being of the patient should always be the top priority.</i></p>
                  
                        <h4>Privacy and security of patient information</h4>
                        <p>
                            The privacy and security of patient information is a critical concern in for our services. The following
                            are steps we may take to protect patient information:
                        </p>
                        <p><b>Encryption:</b>
                            We may use encryption to protect the transmission and storage of patient information,ensuring that the data cannot be intercepted or accessed by unauthorized individuals.
                        </p>
                        <p><b>Compliance with privacy regulations:</b>
                            Telehealth providers must comply with regulations such as the
                            Health Insurance Portability and Accountability Act (HIPAA) DATA PROTECTION ACT to protect
                            patient privacy and security.
                        </p>
                        <p><b>Access controls:</b>
                            We may implement access controls to restrict who can access patient information,
                            such as requiring a login and password to access the telehealth platform.
                        </p>
                        <div class="service-details-info">
                        <div class="single-info-box">
                            <h4>Client</h4>
                            <span>James Anderson</span>
                        </div>

                        <div class="single-info-box">
                            <h4>Category</h4>
                            <span>Fever, Allergies, Morbidity</span>
                        </div>

                        <div class="single-info-box">
                            <h4>Date</h4>
                            <span>February 28, 2022</span>
                        </div>

                        <div class="single-info-box">
                            <h4>Share</h4>
                            <ul class="social">
                                <li>
                                    <a target="_blank" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">
                                        <i class='fab fa-twitter'></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">
                                        <i class='fab fa-instagram'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="single-info-box">
                            <a class="default-btn" href="#">
                                Live Preview
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Service details -->

        {% endblock %}