{% extends 'base.html' %}
{% load static %}

{% block title %} Emergencies Medicine  {% endblock title %}

{% block content %}

        <!-- Start Page Title Area -->
        <div class="page-title-area item-bg-9">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>Emergencies-Medicine</h2>
                            <ul>
                                <li><a href="index">Home</a></li>
                                <li>Emergencies-Medicine</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <!-- Service details -->
        <div class="service-details ptb-100">
            <div class="container">
                <div class="row">
                    <div class="service-details-image col-6">
                    <img src="{% static 'assets/img/medicine.jpg'%}" alt="image">
                </div>
</div>
                <div class="service-details-content">
        
                    <p>
                        Telehealth has revolutionized the healthcare industry by providing patients with access to medical
                        care from the comfort of their own homes. With the current COVID-19 pandemic and the ever
                        changing global health dynamics, telehealth has become even more crucial in reducing the risk of
                        exposure to the virus and highly infectious diseases . In the field of emergency medicine, telehealth
                        has proven to be a valuable tool in providing medical care to patients who require immediate
                        attention.
                    </p>
                    <p><b>Emergency medical care through telehealth;</b> Emergency medicine allows patients to receive
                        medical care from one of our licensed healthcare provider through video conferencing, phone calls,
                        or instant messaging. This type of care is particularly useful for patients who are experiencing
                        symptoms that are not life-threatening but require prompt attention. Some of these symptoms include:
                    </p>
                    <ul>
                        <li>Allergies</li>
                        <li>Coughs and colds</li>
                        <li>Fever</li>
                        <li>Rashes</li>
                        <li>Stomach aches</li>
                        <li>Urinary tract infections</li>
                    </ul>

                    <p>
                        In such cases, telehealth emergency medicine provides patients with access to medical care within a
short period, reducing the need for an in-person visit to the emergency room. The healthcare provider
can diagnose the condition, provide treatment recommendations, and prescribe medications if
necessary.
                    </p>
                    
                    <h4>Advantages of telehealth emergency medicine</h4>
                     <p><b>Convenience:</b> 
                        Patients do not have to leave their homes or wait in long lines at the emergency room
                        to receive medical care.
                    </p>
                    <p><b>Reduced risk of exposure:</b>
                        Telehealth emergency medicine reduces the risk of exposure to
                        infectious diseases, including COVID-19, by limiting in-person contact.
                    </p>
                    <p><b>Cost-effective:</b>
                        Telehealth emergency medicine is typically less expensive than in-person emergency
                        room visits.
                    </p>

                    <p><b>Access to medical care:</b>
                        Telehealth emergency medicine provides patients with access to medical
                        care in areas with a shortage of healthcare providers.
                    </p>
                              
                    <p> Telehealth emergency medicine has proven to be a valuable tool in providing medical care to patients
                        who require immediate attention. With its convenience, reduced risk of exposure, cost-effectiveness,
                        and access to medical care, telehealth emergency medicine has the potential to revolutionize the
                        healthcare industry and improve the quality of life for patients.
                    </p>

                    <p>Sign up today and be part of our happy community.</p>

                  
                    <div class="service-details-info">
                        <div class="single-info-box">
                            <h4>Client</h4>
                            <span>James Anderson</span>
                        </div>

                        <div class="single-info-box">
                            <h4>Category</h4>
                            <span>Fever, Allergies, Morbidity</span>
                        </div>

                        <div class="single-info-box">
                            <h4>Date</h4>
                            <span>February 28, 2022</span>
                        </div>

                        <div class="single-info-box">
                            <h4>Share</h4>
                            <ul class="social">
                                <li>
                                    <a target="_blank" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">
                                        <i class='fab fa-twitter'></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">
                                        <i class='fab fa-instagram'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="single-info-box">
                            <a class="default-btn" href="#">
                                Live Preview
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Service details -->

        {% endblock %}