{% extends 'base.html' %}
{% load static %}

{% block title %} Family Medicine  {% endblock title %}

{% block content %}

        <!-- Start Page Title Area -->
        <div class="page-title-area item-bg-10">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>Family Medicine</h2>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li>Family Medicine</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <!-- Service details -->
        <div class="service-details ptb-100">
            <div class="container">
                <div class="row">
                    <div class="service-details-image col-6">
                    <img src="{% static 'assets/img/family.jpg'%}" alt="image">
                </div>
</div>
                <div class="service-details-content">
                    <h3>We care your health and checkup with best</h3>
        
                    <p>
                        Family medicine is a branch of medicine that deals with the comprehensive health care for
individuals and families. It covers a wide range of medical services, including preventive care,
diagnosis and treatment of acute and chronic illnesses, and management of health issues across all
stages of life.
                    </p>
                    <p>
                        Telehealth is a rapidly growing trend in the medical industry, where medical services are provided
via remote communication technology. With the advent of technology and the need for accessible
healthcare services, telehealth is providing a much-needed solution to the growing need for medical
care.
                    </p>
                    <p>
                        Family medicine on telehealth involves providing medical care to patients through virtual means,
such as video conferencing, phone calls, or text messaging. This allows for individuals and families to
access medical care from the comfort of their own homes, without the need to travel to a doctor&#39;s
office.
                    </p>
                    <h4>Some benefits of family medicine on telehealth include:</h4>
                    <p><b>Increased Accessibility: </b> Telehealth services are available 24/7, providing patients with access to medical care at any time of the day or night.</p>
                    <p><b>Convenience:</b>Patients do not have to take time off work or travel to see a doctor, making it easier for them to access medical care.</p>
                    <p><b>Cost-Effective:</b>Telehealth services can save patients money by eliminating the cost of transportation, co-payments, and other costs associated with in-person visits.</p>
                    <p><b>Reduced Wait Time:</b>With telehealth, patients can be seen more quickly, as there is no need to wait for a doctor's appointment.</p>
                    <p><b>Improved Quality of Care: </b>Telehealth allows for remote monitoring of patients, allowing for early detection and treatment of potential health issues.</p>
                    <p>
                        Overall, family medicine on telehealth is a convenient and cost-effective solution for providing
medical care to individuals and families. With its increased accessibility and improved quality of care,
it is an excellent option for those who need medical attention but cannot make it to a doctor&#39;s office.
                    </p>
                    
                    <div class="service-details-info">
                        <div class="single-info-box">
                            <h4>Client</h4>
                            <span>James Anderson</span>
                        </div>

                        <div class="single-info-box">
                            <h4>Category</h4>
                            <span>Fever, Allergies, Morbidity</span>
                        </div>

                        <div class="single-info-box">
                            <h4>Date</h4>
                            <span>February 28, 2022</span>
                        </div>

                        <div class="single-info-box">
                            <h4>Share</h4>
                            <ul class="social">
                                <li>
                                    <a target="_blank" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">
                                        <i class='fab fa-twitter'></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">
                                        <i class='fab fa-instagram'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="single-info-box">
                            <a class="default-btn" href="#">
                                Live Preview
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Service details -->

        {% endblock %}