{% extends 'base.html' %}
{% load static %}

{% block title %} First Aid  {% endblock title %}

{% block content %}

        <!-- Start Page Title Area -->
        <div class="page-title-area item-bg-12">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>First Aid</h2>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li>First Aid</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <!-- Service details -->
        <div class="service-details ptb-100">
            <div class="container">
                <div class="row">
                    <div class="service-details-image col-6">
                    <img src="{% static 'assets/img/online.jpg'%}" alt="image">
                </div>
</div>
                <div class="service-details-content">
                    <h3>FIRE SAFETY AND FIRST AID TRAININGS</h3>
        
                    <p>
                        Fire Safety & First Aid Training is a crucial aspect of safety awareness, organizational preparedness
to handle emergencies are critical in making sure people’s lives are not at risks and properties
protected. which teach individuals how to prevent and respond to fire and medical emergencies. An
estimated 180,000 lives are lost by burns, vast majority happen in low- and middle-income countries.
In health , top global causes of death, in order of total number of lives lost, are associated with three:
cardiovascular (ischaemic heart disease, stroke), respiratory (chronic obstructive pulmonary disease,
lower respiratory infections) and neonatal conditions. First aid skills to individuals nearest to victims
can help greatly in saving lives. We support you in the in gaining this crucial skills .
                    </p>

                    <h3>First Aid:</h3>

                    <h4>Basic first aid techniques such as CPR, bleeding control, and shock management</h4>
                    <p>
                        CPR (cardiopulmonary resuscitation) is a lifesaving technique used to revive a person who has
                        stopped breathing and has no pulse. Bleeding control involves stopping or slowing down bleeding
                        from an injury. Shock management involves recognizing and treating symptoms of shock, which is a
                        life-threatening condition caused by a drop in blood flow to the body&#39;s vital organs. Having basic skills
                        in first aid will go along way in helping save life.
                    </p>
            
                    <h4>Recognizing and responding to medical emergencies such as heart attacks, strokes, and
                        choking.</h4>

                    <p>
                        Recognizing medical emergencies such as heart attacks, strokes, and choking requires being aware
                        of common symptoms and seeking immediate medical attention. For a heart attack, symptoms may
                        include chest pain, shortness of breath, and lightheadedness. Stroke symptoms may include sudden
                        weakness or numbness on one side of the body, confusion, and difficulty speaking. Choking can be
                        recognized by the universal choking sign (grabbing the throat) and a person being unable to speak or
                        breathe. If you don’t possess the necessary first aid skills , don’t attend to the victim , call
                        emergencies services and follow their instructions.
                    </p>
                    <p><b>
                        Basic knowledge of common first aid kit items and their usage.
                    </b></p>
                    <p>
                        What you should expect in a typical aid kit ;
                    </p>
                    <ul>
                        <li>Adhesive bandages (for cuts and scrapes)</li>
                        <li>Sterile gauze pads (for wound dressing)</li>
                        <li>Adhesive tape (to secure dressings)</li>
                        <li>Antiseptic wipes (to clean wounds)</li>
                        <li>Pain relievers (such as ibuprofen)</li>
                        <li>Scissors and tweezers (for removing splinters)</li>
                        <li>Gloves (to protect from bodily fluids)</li>
                        <li>Instant cold pack (for reducing swelling)</li>
                        <li>CPR breathing barrier (for administering CPR)</li>
                        <li>A first aid manual (for guidance)</li>
                    </ul>
                    <p>
                        Our trainings are hands-on. It is important for individuals to regularly update their fire safety and first
                        aid knowledge to stay prepared for emergencies.
                    </p>
                    <h4>Fire Safety:</h4>
                    <p>Causes of fire and fire prevention measures.</p>
                    <p>Causes of fire can be classified into several categories, including:</p>
                    <p><b>Electrical:</b> 
                        Overheating of electrical equipment, short circuits, and faulty wiring are common
                        causes of electrical fires. 
                    </p>
                    <p><b>Human Error:</b> 
                        Unattended cooking, smoking, and careless disposal of smoking materials are
                        examples of human error that can lead to fires.. 
                    </p>
                    <p><b>Natural:</b> 
                        Lightning, wildfires, and other natural causes can also lead to fires.
                        To prevent fires, some effective fire prevention measures include:
                    </p>
                    <p><b>Electrical Safety:</b> 
                        Regular maintenance of electrical equipment and appliances, as well as
                        avoiding overloading of electrical outlets.
                    </p>
                    <p><b>Cooking Safety:</b> 
                        Staying in the kitchen while cooking, keeping flammable materials away
                        from heat sources, and ensuring proper ventilation.
                    </p>
                    <p><b>Smoking Safety:</b> 
                        Designating smoking areas outside and properly disposing of smoking
                        materials.
                    </p>
                    <p><b>Fire Alarms and Extinguishers:</b> 
                        Installing working fire alarms and fire extinguishers in
                        homes and buildings and regularly checking and maintaining them.
                    </p>
                    <p><b>Education:</b> 
                        Regular fire safety education and training to raise awareness and promote fire
                        prevention habits.
                    </p>
                    <p>
                        By following these fire prevention measures, we can reduce the risk of fires and ensure the safety of
                        individuals and communities.
                    </p>
                    <h4>Types of fire and appropriate fire extinguisher usage.</h4>
                    <p>There are several types of fire, classified based on the type of fuel that is burning:</p>
                    <ul>
                        <li>Class A: fires involving ordinary combustibles such as wood, paper, cloth, and plastics.</li>
                        <li>Class B: fires involving flammable liquids, gases, and greases.</li>
                        <li>Class C: fires involving energized electrical equipment.</li>
                        <li>Class D: fires involving flammable metals.</li>
                        <li>Class K: fires involving cooking oils and fats in commercial kitchens.</li>
                    </ul>
                    <p>
                        To effectively extinguish a fire, it&#39;s important to use the appropriate type of fire extinguisher. The fire
                        extinguisher&#39;s label will indicate the classes of fire it can be used on. Here are the common types of
                        fire extinguishers:
                    </p>
                    <ul>
                        <li>Water: used on Class A fires.</li>
                        <li>Foam: used on Class A and Class B fires.</li>
                        <li>Dry Chemical: used on Class A, B, and C fires.</li>
                        <li>Carbon Dioxide (CO2): used on Class B and Class C fires.</li>
                        <li>Wet Chemical: used on Class K fires.</li>
                    </ul>
                    <p>
                        It&#39;s important to understand the different types of fires and their respective fire extinguisher usage to
                        respond effectively in case of an emergency. Regular fire extinguisher training and inspections are
                        also crucial to ensure that the fire extinguishers are in good working condition and ready for use
                    </p>
                    <h4>Evacuation procedures, fire alarms, and fire drills.</h4>
                    <p>
                        Its critical to have your organization train on evacuation procedures, steps to follow in case of a fire,
                        such as exiting the building, assembling at a designated location, and notifying authorities. Instruction
                        on Fire alarms , fire drills to prepare for a real fire emergency.
                    </p>

                    <h4>Fire suppression systems and fire safety equipment</h4>
                    <p>
                        Fire suppression systems are installed in buildings to automatically detect and extinguish fires.
                        Examples include sprinkler systems, fire extinguishers, and fire suppression systems for kitchen
                        appliances. Fire safety equipment refers to items used to prevent and respond to fires, such as smoke
                        detectors, fire alarms, fire extinguishers, and fire blankets.
                    </p>

                    <h4 class="text-center">SCHEDULE A TRAINING FOR YOUR ORGANIZATION TODAY.</h4>
                    <div class="service-details-info">
                        <div class="single-info-box">
                            <h4>Client</h4>
                            <span>James Anderson</span>
                        </div>

                        <div class="single-info-box">
                            <h4>Category</h4>
                            <span>Fever, Allergies, Morbidity</span>
                        </div>

                        <div class="single-info-box">
                            <h4>Date</h4>
                            <span>February 28, 2022</span>
                        </div>

                        <div class="single-info-box">
                            <h4>Share</h4>
                            <ul class="social">
                                <li>
                                    <a target="_blank" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">
                                        <i class='fab fa-twitter'></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">
                                        <i class='fab fa-instagram'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="single-info-box">
                            <a class="default-btn" href="#">
                                Live Preview
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Service details -->

        {% endblock %}