{% extends 'base.html' %}
{% load static %}

{% block content %}

        <!-- Start Page Title Area -->
        <div class="page-title-area item-bg-14">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>Analytic Solution</h2>
                            <ul>
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li>Analytic Solution</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <!-- Service details -->
        <div class="service-details ptb-100">
            <div class="container">
                <div class="service-details-content">
        
                    <p>With the exponential growth of data, organizations are faced with the challenge of effectively utilizing this information to drive informed decision-making and gain a competitive edge. Turning data into actionable insights can be a complex and time-consuming task, requiring specialized skills and technology. It's essential for organizations to have a strategy in place to manage, analyze, and interpret the massive amounts of data they collect, in order to extract meaningful insights and stay ahead of the competition.</p>
            
                    <p>This will help you  identify patterns, trends, and relationships in the data, which can be used to inform clinical decision making, improve patient outcomes, and optimize resource utilization. Data analytics solutions play a crucial role in supporting the delivery of high-quality, cost-effective healthcare by providing healthcare organizations with valuable insights into patient data</p>

                    <button class="btn btn-success opacity-75 text-white align-self-center">
                        Schedule a call with us 

                    </button>
                </div>
            </div>
        </div>
        <!-- End Service details -->

        {% endblock %}