{% extends 'base.html' %}
{% load static %}

{% block content %}

        <!-- Start Page Title Area -->
        <div class="page-title-area item-bg-15">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>Emergency Medical Respoonse</h2>
                            <ul>
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li>Emergency Medical Respoonse</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <!-- Service details -->
        <div class="service-details ptb-100">
            <div class="container">
                <div class="service-details-image ">
                <div class="row">
                    <div class="col-lg-5">
                        <img src="{% static 'assets/img/page-title/bg-5.jpg'%}" alt="image">
                    </div>
                   
                    <div class="service-details-content col-lg-7">
                        <p>
                            We understand every second counts when it comes to saving lives. That's why we provide fast, reliable ambulance services to ensure that patients receive the care they need when they need it the most.  
                        </p>
                        <p>
                            Our ambulances are equipped with state-of-the-art medical equipment and staffed by highly trained medical professionals who are committed to providing the highest quality care. Our team includes paramedics, EMTs, and other healthcare professionals who work together to deliver exceptional emergency medical care when you or your loved one’s need it .
                            We provide a wide range of emergency medical response services, including transportation to hospitals, urgent care facilities, and other medical facilities. Our team is available 24/7, and we respond to emergencies promptly, ensuring that patients receive timely care.
                        </p>
                        <p>
                            Our emergency medical response services are designed to provide peace of mind to patients and their loved ones. We understand that medical emergencies can be stressful and overwhelming, which is why we go above and beyond to provide compassionate care and support to our patients and their families.
                            
                        </p>
    
                    </div>
                
                </div>
                 </div>

                <div class="service-details-content">
        
                    <p>
                        We also work closely with local hospitals and healthcare providers to ensure that patients receive the best possible care throughout their medical journey. Our goal is to help patients get the care they need and to ensure that they have a smooth transition to the appropriate medical facility.
                    </p>
            
                    <p>
                        In addition, we offer affordable pricing for our services, making emergency medical response accessible to everyone. We believe that quality healthcare should be available to all, and we strive to make our services as affordable  and accessible as possible.

                    </p>
                    <p>
                        we are committed to providing the highest quality care to our patients. We are passionate about what we do, and we take pride in being a trusted partner in the communities we serve. Contact us today to learn more about our services or to schedule an appointment.
                    </p>

                    <button class="btn btn-primary opacity-75 text-white align-self-center">
                       Call Us Today 

                    </button>
                </div>
         </div>
        </div>
        <!-- End Service details -->

        {% endblock %}