{% extends 'base.html' %}
{% load static %}

{% block content %}

        <!-- Start Page Title Area -->
        <div class="page-title-area item-bg-5">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>HealthCare Equip Financing</h2>
                            <ul>
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li>HealthCare Equip Financing</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <!-- Service details -->
        <div class="service-details ptb-100">
            <div class="container">
                <div class="service-details-image">
                    <img src="assets/img/single-service.jpg" alt="image">
                </div>

                <div class="service-details-content">
        
                    <p>At ResQ247 we understand that access to quality medical equipment is essential for providing effective and efficient healthcare. However, purchasing or upgrading medical equipment can be a significant financial burden for many healthcare providers. That's why we offer healthcare equipment financing solutions to help make it easier for you to acquire the equipment you need.</p>
                    
                    <p>Our financing options are designed to meet the specific needs of healthcare providers and can cover a wide range of medical equipment, including diagnostic equipment, surgical equipment, and medical devices. We work with a network of lenders to offer competitive rates and flexible repayment terms, so you can choose the solution that best fits your budget and business needs.</p>
                    <p>With our healthcare equipment financing, you can:</p>
                    <ul>
                        <li>
                            Acquire the latest medical equipment without depleting your cash reserves.
                        </li>
                        <li>Take advantage of tax benefits by financing your equipment through our financing program.
                        </li>
                        <li>
                            Choose from a variety of financing options, including leases and loans, to find the solution that best fits your needs.

                        </li>
                        <li>
                            If you're ready to upgrade your medical equipment, contact us today to find out more about our healthcare equipment financing options and how we can help you.
                        </li>
                    </ul>    
                    <button class="btn btn-success opacity-75 text-white align-self-center">
                        Schedule a call with us 

                    </button>           
                 </div>
            </div>
        </div>
        <!-- End Service details -->

        {% endblock %}