{% extends 'base.html' %}
{% load static %}

{% block content %}

        <!-- Start Page Title Area -->
        <div class="page-title-area item-bg-5">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>IT Medicare Solution</h2>
                            <ul>
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li>IT Medicare Solution</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <!-- Service details -->
        <div class="service-details ptb-100">
            <div class="container">
                

                <div class="service-details-content">
        
                    <p>    
                    The healthcare industry is constantly evolving, and technology is playing a major role in driving these changes. By offering IT Medicare solutions, we are  helping medical facilities and startups stay ahead of the curve and provide the highest quality care to their patients. By leveraging technology, these organizations can streamline processes, improve patient outcomes, and remain competitive in a rapidly changing industry. Don't miss out on the opportunity to make a positive impact and drive change in the healthcare industry                                        
                    </p>
                    <button class="btn btn-success opacity-75 text-white align-self-center">
                        Schedule a call with us 
 
                     </button> 
                </div>
            </div>
        </div>
        <!-- End Service details -->

        {% endblock %}