
<style>
    .c-logo{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin: auto;
    }
    .c-logo img{
        max-width: 100%;
    }
</style>
<div class="nav-header">
    <a href="{% url 'dashboard' facility_id=1 %}" class="brand-logo">
        <div class="c-logo">
            <img src="{% if request.facility.logo %} {{request.facility.logo.url}} {% endif %}" alt="">
        </div>
    </a>

    <div class="nav-control">
        <div class="hamburger">
            <span class="line"></span><span class="line"></span><span class="line"></span>
        </div>
    </div>
</div>
