<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="{% url 'index' %}" class="ai-icon" aria-expanded="false">
                    <i class="flaticon-381-home"></i>
                    <span class="nav-text">Home</span>
                </a>
            </li>
            <li><a href="{% url 'facility' request.facility.id request.facility.slug %}" class="ai-icon"
                    aria-expanded="false">
                    <i class="flaticon-381-view-2"></i>
                    <span class="nav-text">Preview Facility <small>(Public view)</small> </span>
                </a>
            </li>
            <li>
                <a href="{% url 'dashboard' facility_id=request.facility.id %}" class="ai-icon" aria-expanded="false">
                    <i class="flaticon-381-networking"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="{% url 'patients' facility_id=request.facility.id %}">
                    <i class="flaticon-381-id-card"></i>
                    <span class="nav-text">Patients</span>
                </a>
            </li>
            <li>
                <a href="{% url 'doctors' facility_id=request.facility.id %}">
                    <i class="flaticon-381-id-card-2"></i>
                    <span class="nav-text">Doctors</span>
                </a>
            </li>
            <li>
                <a href="{% url 'staff' facility_id=request.facility.id %}" class="ai-icon" aria-expanded="false">
                    <i class="flaticon-381-id-card-4"></i>
                    <span class="nav-text">Staff</span>
                </a>
            </li>
            <li><a href="{% url 'appointments' facility_id=request.facility.id %}" class="ai-icon"
                    aria-expanded="false">
                    <i class="flaticon-381-note"></i>
                    <span class="nav-text">Appointments</span>
                </a>
            </li>
            <li><a href="#" class="ai-icon" aria-expanded="false">
                    <i class="flaticon-381-layer-1"></i>
                    <span class="nav-text">Services</span>
                </a>
            </li>
            <li><a href="#" class="ai-icon" aria-expanded="false">
                    <i class="flaticon-381-list"></i>
                    <span class="nav-text">Encounters</span>
                </a>
            </li>
            <li><a href="{% url 'edit_facility' facility_id=request.facility.id %}" class="ai-icon"
                    aria-expanded="false">
                    <i class="flaticon-381-edit"></i>
                    <span class="nav-text">Edit facility</span>
                </a>
            </li>
            <!-- <li>
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-layer-1"></i>
                    <span class="nav-text">Pages</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="page-register.html">Register</a></li>
                    <li><a href="page-login.html">Login</a></li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Error</a>
                        <ul aria-expanded="false">
                            <li><a href="page-error-400.html">Error 400</a></li>
                            <li><a href="page-error-403.html">Error 403</a></li>
                            <li><a href="vendor/ckeditor/ckeditor.css">Error 404</a></li>
                            <li><a href="page-error-500.html">Error 500</a></li>
                            <li><a href="page-error-503.html">Error 503</a></li>
                        </ul>
                    </li>
                    <li><a href="page-lock-screen.html">Lock Screen</a></li>
                </ul>
            </li> -->
        </ul>

        <div class="plus-box">
            <p class="fs-16 font-w500 mb-1">Check your job schedule</p>
            <a class="text-white fs-26" href="javascript:;"><i class="las la-long-arrow-alt-right"></i></a>
        </div>
        <div class="copyright">
            <p class="fs-14 font-w200"><strong class="font-w400">Admin Dashboard</strong> © 2022
                All Rights Reserved</p>
            <p class="fs-12">Made with <span class="heart"></span> by Live Software Developer</p>
        </div>
    </div>
</div>