{% extends './../../base.html' %}
{% load customtags %}

{% block title %} Doctors {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="page-description">
                <h1>Doctors</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4">
            <div class="card widget widget-stats">
                <div class="card-body">
                    <div class="widget-stats-container d-flex">
                        <div class="widget-stats-icon widget-stats-icon-primary">
                            <i class="material-icons">self_improvement</i>
                        </div>
                        <div class="widget-stats-content flex-fill">
                            <span class="widget-stats-title">Total Doctors</span>
                            <span class="widget-stats-amount">{{total_doctors}}</span>
                            <!-- <span class="widget-stats-info">471 Orders Total</span> -->
                        </div>
                        <!-- <div class="widget-stats-indicator widget-stats-indicator-negative align-self-start">
                            <i class="material-icons">keyboard_arrow_down</i> 4%
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row col">
        <div class="card">
            <div class="card-body">
                <table id="datatable4" class="display nowrap custom-table" style="width:auto">
                    <thead>
                        <tr>
                            <th class="w-custom">User</th>
                            <th>Availability</th>
                            <th>Specialities</th>
                            <th class="custom-th-text">Description</th>
                            <th>Created On</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for doctor in doctors %}
                        <tr>
                            <td class="w-custom">
                                <div class="custom-name-holder">
                                    <div
                                        class="avatar rounded-circle avatar-sm me-2 d-flex align-items-center justify-content-center bg-light text-capitalize p-1">
                                        {% if doctor.user.profile.profile_photo %}
                                        <img src="{{doctor.user.profile.profile_photo.url}}" alt="">
                                        {% else %}
                                        {{doctor.user.username|get_first_letter}}
                                        {% endif %}
                                    </div>
                                    <div class="vstack gap-0">
                                        <p class="m-0 p-0">{{doctor.user.first_name}} {{doctor.user.last_name}}</p>
                                        <p class="m-0 p-0">
                                            <small>{{doctor.user.email}}</small>
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                {% if doctor.status %}
                                <div class="badge badge-success">
                                    Available
                                </div>
                                {% else %}
                                <div class="badge badge-danger">
                                    Not Available
                                </div>
                                {% endif %}
                            </td>
                            <td>
                                {% for speciality in doctor.specialities.all %}
                                <div class="badge badge-secondary rounded-sm text-capitalize">
                                    {{speciality.name}}
                                </div>
                                {% endfor %}
                            </td>
                            <td class="text-capitalize">{{doctor.description}}</td>
                            <td>{{doctor.created_on}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="w-custom">User</th>
                            <th>Availability</th>
                            <th>Specialities</th>
                            <th class="custom-th-text">Description</th>
                            <th>Created On</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        "use strict";

        // $('#datatable4 tfoot th').each(function () {
        //     var title = $(this).text();
        //     $(this).html('<input type="text" class="form-control" placeholder="Search ' + title + '" />');
        // });

        // DataTable
        var table = $('#datatable4').DataTable({
            // scrollY: "300px",
            scrollX: true,
            // scrollCollapse: true,
            // paging: true,

            initComplete: function () {
                // Apply the search
                this.api().columns().every(function () {
                    var that = this;

                    $('input', this.footer()).on('keyup change clear', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                });
            }
        });

    })
</script>
{% endblock %}