{% extends 'base.html' %}
{% load static %}

{% block title %} Diseases List {% endblock title %}

{% block content %}

<style>
  .whitespace-preline {
    white-space: pre-line;
    transition: all 2s linear ease-in-out;
  }

  .letters-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .letter {
    width: 40px !important;
    height: 40px !important;
    margin: 10px;
    text-transform: uppercase;
    border-radius: 8px;
    /* color: var(--bs-body-color); */
    font-weight: bold;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .letter.active,
  .letter:hover {
    background-color: var(--bs-blue);
    color: white;
  }

  .d-card {
    cursor: pointer;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.2) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }

  .d-card:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  }
</style>

<!-- Start Page Title Area -->
<div class="page-title-area item-bg-5">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <div class="page-title-content">
          <h2>Disease List</h2>
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li>Disease List</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Page Title Area -->


<div class="container">
  <div class="py-3">

    <div class="row">

      <div class="col-md-4">
        <h2>Filter</h2>
        <div class="letters-holder mb-5">
          {% for letter in letters %}
          <a href="{% url 'disease-list' %}?letter={{letter}}" class="letter {% if request.GET.letter == letter %}active{% endif %}">
            {{letter}}
          </a>
          {% endfor %}
        </div>
      </div>

      <div class="col-md-8">
        <h3>List of diseases - <span class="text-capitalize">{{request.GET.letter}}</span> </h3>
        <div class="row py-4">
          {% for condition in conditions %}
          {% include './components/diseasecard.html' with condition=condition %}
          {% endfor %}
        </div>
      </div>

    </div>

  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="more-info" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="more-info-title" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="more-info-title"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="vstack gap-2">

          <h3>Fact sheet</h3>
          <div id="factsheet" class="whitespace-preline"></div>

          <h3>Pathogen</h3>
          <div id="pathogen" class="whitespace-preline"></div>

          <h3>Clinical Features</h3>
          <div id="clinical_features" class="whitespace-preline"></div>

          <h3>Transimission</h3>
          <div id="transmission" class="whitespace-preline"></div>

          <h3>Diagnosis</h3>
          <div id="diagnosis" class="whitespace-preline"></div>

          <h3>Treatment</h3>
          <div id="treatment" class="whitespace-preline"></div>

          <h3>Prevention</h3>
          <div id="prevention" class="whitespace-preline"></div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  const myModal = document.getElementById('more-info')

  myModal.addEventListener('shown.bs.modal', (event) => {
    const button = event.relatedTarget

    const condition = JSON.parse(button.getAttribute('data-bs-condition'))

    const modalTitle = myModal.querySelector('.modal-title')
    const factsheet = myModal.querySelector('#factsheet')
    const pathogen = myModal.querySelector('#pathogen')
    const clinical_features = myModal.querySelector('#clinical_features')
    const transmission = myModal.querySelector('#transmission')
    const diagnosis = myModal.querySelector('#diagnosis')
    const treatment = myModal.querySelector('#treatment')
    const prevention = myModal.querySelector('#prevention')


    modalTitle.textContent = condition?.name
    factsheet.innerHTML = condition?.factsheet
    pathogen.innerHTML = condition?.pathogen
    clinical_features.innerHTML = condition?.clinical_features
    transmission.innerHTML = condition?.transmission
    diagnosis.innerHTML = condition?.diagnosis
    treatment.innerHTML = condition?.treatment
    prevention.innerHTML = condition?.prevention

  })

  myModal.addEventListener('hide.bs.modal', (event) => {
    const button = event.relatedTarget

    const modalTitle = myModal.querySelector('.modal-title')
    const factsheet = myModal.querySelector('#factsheet')
    const pathogen = myModal.querySelector('#pathogen')
    const clinical_features = myModal.querySelector('#clinical_features')
    const transmission = myModal.querySelector('#transmission')
    const diagnosis = myModal.querySelector('#diagnosis')
    const treatment = myModal.querySelector('#treatment')
    const prevention = myModal.querySelector('#prevention')

    modalTitle.textContent = ""
    factsheet.innerHTML = ""
    pathogen.innerHTML = ""
    clinical_features.innerHTML = ""
    transmission.innerHTML = ""
    diagnosis.innerHTML = ""
    treatment.innerHTML = ""
    prevention.innerHTML = ""

  })
</script>

{% endblock %}