{% extends 'base.html' %}
{% load static %}

{% block title %} Privacy Policy  {% endblock title %}

{% block content %}

        <!-- Start Page Title Area -->
        <div class="page-title-area item-bg-5">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>Privacy and Policy</h2>
                            <ul>
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li>Privacy and Policy</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <!-- Service details -->
        <div class="service-details ptb-100">
            <div class="container">
                <div class="service-details-content">
                    <h3>Collection of Personal Information:</h3>
        
                    <p>The company will only collect personal information that is necessary for providing its services,
                        including but not limited to name, address, email, phone number, payment information, and any other
                        relevant information required for the delivery of services.
                    </p>
                    <ul>
                        
                        <li>Use of Personal Information: The personal information collected will be used solely for the
                            purpose of providing services, fulfilling orders, and improving customer experience. The
                            information will not be shared with any third parties unless required by law or with the
                            customer&#39;s consent.</li>
                        <li>Secure Storage of Personal Information: The company takes the protection of customer&#39;s
                            personal information very seriously and implements appropriate security measures to ensure
                            its safety. Personal information is stored securely on company&#39;s servers or in trusted third-
                            party storage facilities.</li>
                        <li>Confidentiality of Personal Information: The company is committed to maintaining the
                            confidentiality of all personal information and will only disclose it as required by law or with the
                            customer&#39;s consent.</li>
                        <li>Access to Personal Information: Customers have the right to access their personal
                            information at any time and request its correction if necessary.</li>
                        <li>Data Retention Policy: The company will retain the personal information for as long as it is
                            necessary to provide services and comply with legal requirements. The company will securely
                            dispose of personal information when it is no longer needed.</li>
                        <li>Notification of Data Breaches: In the event of a data breach, the company will promptly notify
                            customers and take appropriate measures to mitigate the impact of the breach.</li>
                        <li>Use of Cookies: The company may use cookies to improve the user experience, track
                            customer preferences, and collect anonymous data.</li>
                        <li>Changes to Privacy Policy: The company reserves the right to change this privacy policy at
                            any time without prior notice.</li>
                        <li>Customer Consent: By using the company&#39;s services, customers consent to the collection and
                            use of their personal information as outlined in this privacy policy.</li>
                    </ul>
                    <h4>Use of Personal Information:</h4>
                    <p>The personal information collected by the company will be used solely for the purpose of providing
                        services, fulfilling orders, and improving customer experience. This may include:</p>
                    <ul>
                        <li>Processing payments and delivering orders.</li>
                        <li>Communicating with customers regarding their orders, including updates and changes.</li>
                        <li>Providing customer support and resolving any issues or concerns.</li>
                        <li>Improving the overall customer experience by tracking customer preferences and using data
                            analytics to identify patterns and make recommendations.</li>
                        <li>Sending marketing materials and promotions to customers, if they have given their consent.</li>
                    </ul>
                    
                    <p>The company will not share personal information with any third parties unless required by law or
                        with the customer&#39;s consent. The company takes the protection of personal information very
                        seriously and implements appropriate security measures to ensure its safety.</p>

                    <h4>Secure Storage of Personal Information:</h4>
                    <p>Secure storage of personal information is an important aspect of protecting privacy in on our
                        platforms. The following are common measures taken to ensure secure storage of personal
                        information:</p>


                    <ul>
                        <li>Encryption: Personal information is encrypted while in transit and at rest to protect against
                            unauthorized access.</li>
                        <li>Secure servers: we use secure servers that are regularly audited and updated to ensure the
                            highest level of security.</li>
                        <li>Access controls: Only authorized personnel are given access to personal information and the
                            access is monitored and logged for auditing purposes.</li>
                        <li>Data backup: we regularly backup personal information to protect against data loss due to
                            technical issues or natural disasters.</li>
                        
                    </ul>
                    <p>Physical security: Personal information stored in physical form is kept in secure locations with
                        restricted access.</p>
                    <p>Disposal of information: Personal information is disposed of securely when no longer needed, such as
                        through secure deletion or physical destruction.</p>
                    
                    <h4>Confidentiality of Personal Information</h4>
                    <p>Confidentiality of personal information is a key aspect of privacy in telehealth and telemedicine services. The
                        following are common measures taken to ensure the confidentiality of personal information:</p>
                    <ul>
                        <li>Privacy policies: we have privacy policies that outline how personal information is collected, used, and
                            shared. Patients should be made aware of these policies and their rights.</li>
                        <li>Limited access: Personal information is only accessible by authorized personnel who need it to
                            perform their job duties.</li>
                        <li>Secure communication: we use secure communication methods, such as encrypted emails and secure
                            messaging, to protect the confidentiality of personal information.</li>
                        <li>Compliance with regulations: we comply with relevant privacy regulations, such as HIPAA in the US,
                            and DATA PROTECTION ACT of 2020 in kenya to ensure the confidentiality of personal information.</li>
                        <li>Training: we provide regular training to their staff on privacy and security, including the importance
                            of maintaining the confidentiality of personal information.</li>
                    </ul>

                    <p>Your right to access your personal information in on our platform is guaranteed . The following are common
                        practices related to patient access to personal information:</p>
                    <ul>
                        <li>Right to request: you have the right to request a copy of their personal information and to know who
                            has accessed it.</li>
                        <li>Secure portals: we often provide secure portals where patients can access their personal information,
                            such as appointment history, medical records, and test results.</li>
                        <li>Timeliness: we aim to provide patients with access to their personal information in a timely manner,
                            typically within a few days of the request.</li>
                        <li>Fees: In some cases there may be fees associated with providing access to personal information, this
                            will always be reasonable and outlined in the privacy policy.</li>
                        <li>Correction of inaccuracies: You have the right to request correction of any inaccuracies in their
                            personal information.</li>
                    </ul>


                    <h4>Data Retention Policy:</h4>
                    <p>Data retention policy refers to the length of time that personal information is kept The following are
                        common elements of a data retention policy:</p>
                    <ul>
                        <li>Legal requirements: We comply with applicable laws and regulations related to data retention, such
                            as HIPAA in the US and DATA protection act of kenya .</li>
                        <li>Necessary for treatment: Personal information is kept for as long as necessary to provide treatment
                            and for related purposes, such as billing and record-keeping.</li>
                        <li>Regular review: We regularly review the personal information they have and delete what is no longer
                            necessary.</li>
                        <li>Secure disposal: Personal information that is no longer needed is disposed of securely, such as
                            through secure deletion or physical destruction.</li>
                        <li>Patient rights: Patients have the right to request the deletion of their personal information, subject to
                            any legal requirements.</li>
                    </ul>



                    <h4>Notification of Data Breaches</h4>
                    <p>We Notify patients of any data breaches ,The following are common elements of a notification process for
                        data breaches:</p>
                    <ul>
                        <li>Timely notification: We aim to notify patients as soon as possible after a data breach has been
                            detected.</li>
                        <li>Identification of affected patients: we identify which patients have had their personal information
                            compromised in the data breach.</li>
                        <li>Explanation of the breach: We explain what happened during the data breach and what types of
                            personal information were affected.</li>
                        <li>Remediation steps: We will always describe the steps they have taken or plan to take to address the
                            data breach and prevent similar incidents in the future.</li>
                        <li>Available resources: We will provide resources to help patients protect their personal information,
                            such as credit monitoring services.</li>
                    </ul>
                    <p class="text-center">By using our platform, you consent to our privacy policy in its entirety.</p>
                    <div class="service-details-info">
                        <div class="single-info-box">
                            <h4>Client</h4>
                            <span>James Anderson</span>
                        </div>

                        <div class="single-info-box">
                            <h4>Category</h4>
                            <span>Fever, Allergies, Morbidity</span>
                        </div>

                        <div class="single-info-box">
                            <h4>Date</h4>
                            <span>February 28, 2022</span>
                        </div>

                        <div class="single-info-box">
                            <h4>Share</h4>
                            <ul class="social">
                                <li>
                                    <a target="_blank" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">
                                        <i class='fab fa-twitter'></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">
                                        <i class='fab fa-instagram'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="single-info-box">
                            <a class="default-btn" href="#">
                                Live Preview
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Service details -->

        {% endblock %}