{% extends 'base.html' %}
{% load static %}
{% block title %} About Us {% endblock title %}
{% block content %}

        <!-- Start Page Title Area -->
        <div class="page-title-area item-bg-5">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>About us</h2>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li>About us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->
        <section class="about-area pt-100">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-image">
                            <img src="{% static 'assets/img/single-service.jpg' %}" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="about-content">
                            <span>About Us</span>
                            <h3>We are on a mission to make healthcare better, affordable and accessible to all</h3>
                            <p>ResQ247 is a leading multi-brand provider in medical tech and products. platform
                                and information technology solutions to growing medical facilities, government,
                                education and healthcare customers in Kenya.Our broad array of products and services range from mobility hardware &amp; assistive
                                technology, medical devices, pharmaceutical, Nutraceutical products and software
                                solutions online medical consultations facilitated by licensed medical practitioners
                                and specialists</p>
                            <ul class="about-features two">
                                <li>
                                    <span>
                                        <i class='flaticon-doctor'></i>
                                        Orthopedic Solutions
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <i class='flaticon-worm'></i>
                                        Chronic Disease
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <i class='flaticon-cough'></i>
                                        COVID-19 Test
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <i class='flaticon-blood-test'></i>
                                        Diabetic Test
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <i class='flaticon-family'></i>
                                        Family Solutions
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <i class='flaticon-insurance'></i>
                                        Medical Questions
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service details -->

       
        
        <div class="service-details ptb-10">
            <div class="container">
               
              <div class="service-details-content">
                    <h4>Mission:</h4>
                        <p>To improve access to healthcare for all by leveraging technology and expertise to
                            provide high-quality telehealth and telemedicine services.</p>
                    <h4>Values:</h4>
                        <ul>
                            <li>Patient-cantered care: We prioritizes the needs and satisfaction of our
                                patients, striving to provide personalized and compassionate care through
                                telehealth &amp; telemedicine.</li>
                            <li>Innovation: ResQ247 is committed to staying at the forefront of telemedicine
                                technology, continuously improving our services and processes to enhance
                                patient outcomes.</li>
                            <li>Accessibility: We strive to make healthcare more accessible and affordable
                                for everyone, regardless of location or circumstances.</li>
                            <li>Privacy and security: ResQ247 is dedicated to protecting the privacy and
                                security of patient data, adhering to strict security and privacy standards in all
                                aspects of the industry.</li>
                            <li>Collaboration: ResQ247 values partnerships and collaboration with
                                healthcare providers, patients, and industry partners to advance the field of
                                telemedicine and improve patient outcomes.</li>
                        
                        </ul>
                    <h4>Scale Patient Safety, Improve Staff Efficiency, and Reduce Burnout</h4>
                    <p>ResQ247 platform are of high interest to healthcare organizations looking to improve
                        care quality, patient safety amid rising staff shortages and increasing patient loads.
                        Our solutions have potential to transform healthcare delivery by making it more
                        accessible, convenient, and cost-effective coupled with virtual monitoring it offers a
                        more affordable, efficient and a reliable service to patients your patients. Access patients’
                        data on the go, easy booking, data management from one dashboard, Monitor facility
                        activities still from the same dashboard.
                        Next-generation, predictive analytic patient monitoring lowers healthcare costs, improves
                        clinical outcomes and enhances the patient experience in hospital and at home, post-acute
                        care and chronic care management.</p>
                        <div class="container-fluid pt-50 pb-10">
                            <div class="section-title">
                                    <h5>WHO WE ARE</h5>
                                    <p>We help medical facilities deploy sustainable digital healthcare solutions to advance patient
                                        outcomes. ResQ247 is at the forefront of making virtual care and telehealth a reality to all</p>        
                            </div>
                            
                        </div>
                    <div class="service-details-info">
                        <div class="single-info-box">
                            <h4>Client</h4>
                            <span>James Anderson</span>
                        </div>

                        <div class="single-info-box">
                            <h4>Category</h4>
                            <span>Fever, Allergies, Morbidity</span>
                        </div>

                        <div class="single-info-box">
                            <h4>Date</h4>
                            <span>February 28, 2022</span>
                        </div>

                        <div class="single-info-box">
                            <h4>Share</h4>
                            <ul class="social">
                                <li>
                                    <a target="_blank" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">
                                        <i class='fab fa-twitter'></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">
                                        <i class='fab fa-instagram'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="single-info-box">
                            <a class="default-btn" href="#">
                                Live Preview
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Service details -->

        {% endblock %}