{% extends 'base.html' %}
{% load static %}
{% block title %} Our Blogs {% endblock title %}
{% block content %}

<!-- Start Page Title Area -->
<div class="page-title-area item-bg-5">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Blog</h2>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li>Blogs</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Blog Area -->
<section class="blog-area ptb-100">
    <div class="container-fluid">
        <div class="section-title">
            <span>News</span>
            <h2>Our Latest News</h2>
            <p>
                Get to learn from our latest news and articles accross Health related topics.
            </p>
        </div>

        <div class="row">
            {% for blog in page_obj %}
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <div class="image">
                        <a href="{% url 'single_blog' blog.id blog.slug %}">
                            <img src="{{ blog.image.url }}" loading="lazy" alt="image">
                        </a>

                        <a href="{% url 'single_blog' blog.id blog.slug %}" class="date">
                            {{blog.created_on}}
                        </a>
                    </div>

                    <div class="content">
                        <h3>
                            <a href="{% url 'single_blog' blog.id blog.slug %}">
                                {{blog.title}}
                            </a>
                        </h3>

                        <a href="{% url 'single_blog' blog.id blog.slug %}" class="blog-btn">Read More +</a>
                    </div>
                </div>
            </div>
            {% endfor %}

            <div class="col-lg-12 col-md-12">
                <div class="pagination-area">
                    {% if page_obj.has_previous %}
                    <a href="{% url 'blogs' %}?page={{page_obj.previous_page_number}}"
                        class="next page-numbers rounded current">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                    {% else %}
                    <a href="javascript:void(0)" class="next page-numbers rounded" aria-disabled="true">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                    {% endif %}

                    {% for page in pages %}
                    {% if request.GET.page == page|stringformat:'i' %}
                    <span class="page-numbers current rounded" aria-current="page">{{page}}</span>
                    {% else %}
                    <a href="{% url 'blogs' %}?page={{page}}" class="page-numbers text-center mb-2 rounded"
                        style="border-radius: 50% !important;">{{page}}</a>
                    {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <a href="{% url 'blogs' %}?page={{page_obj.next_page_number}}"
                        class="next page-numbers rounded current">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                    {% else %}
                    <a href="javascript:void(0)" class="next page-numbers rounded" aria-disabled="true">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Blog Area -->
{% endblock %}