{% extends './../components/base.html' %}
{% load static %}

{% block content %}
<div class="content-body">
	<!-- row -->
	<div class="container-fluid">
		<div class="text-end mb-3">
			<a href="javascript:void(0);" class="btn btn-primary btn-rounded add-appointment">+ Book Appointment</a>
			<a href="#" class="btn btn-primary btn-rounded">Doctor Schedule</a>
		</div>
		<div class="row">
			<div class="col-xl-12">
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<table id="example5" class="table table-striped patient-list mb-4 dataTablesCard fs-14">
								<thead>
									<tr>
										<th>
											<div class="checkbox text-end align-self-center">
												<div class="form-check custom-checkbox ">
													<input type="checkbox" class="form-check-input" id="checkAll"
														required="">
													<label class="form-check-label" for="checkAll"></label>
												</div>
											</div>
										</th>
										<th>Name</th>
										<th>Email</th>
										<th>Date Of Appointment</th>
										<th>From</th>
										<th>To</th>
										<th>Mobile</th>
										<th>Consulting Doctor</th>
										<th>Injury/Condition</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									{% for app in appointments %}
									<tr>
										<td>
											<div class="checkbox text-end align-self-center">
												<div class="form-check custom-checkbox ">
													<input type="checkbox" class="form-check-input" id="customCheckBox1"
														required="">
													<label class="form-check-label" for="customCheckBox1"></label>
												</div>
											</div>
										</td>
										<td class="patient-info ps-0">
											<span>
												<img src="{% if app.patient.user.profile.profile_photo %}{{app.patient.user.profile.profile_photo.url}} {% endif %}" alt="">
											</span>
											<span class="text-nowrap ms-2">{{app.patient.user.first_name}} {{app.patient.user.last_name}}</span>
										</td>
										<td class="text-primary">{{app.patient.user.email}}</td>
										<td>{{app.date}}</td>
										<td>{{app.start_time}}</td>
										<td>{{app.end_time}}</td>
										<td class="text-primary">{{app.patient.user.profile.phone_number}}</td>
										<td>Dr. {{app.doctor.user.first_name}} {{app.doctor.user.last_name}}</td>
										<td>Fever</td>
										<td>
											<span class="me-3">
												<a href="javascript:void(0);" class="edit-appointment"><i
														class="fa fa-pencil fs-18 " aria-hidden="true"></i></a>
											</span>
											<span>
												<i class="fa fa-trash fs-18" aria-hidden="true"></i>
											</span>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="appointment-edit-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Edit Appointment</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="row">
							<div class="col-xl-12">
								<div class="form-group">
									<label for="recipient-name" class="col-form-label">Title:</label>
									<select class="form-control">
										<option>Miss</option>
										<option>Mr.</option>
										<option>Mrs.</option>
									</select>
								</div>
							</div>
							<div class="col-xl-6">
								<div class="form-group">
									<label for="message-text" class="col-form-label">Name:</label>
									<input type="text" class="form-control" id="" placeholder="Name">
								</div>
							</div>
							<div class="col-xl-6">
								<div class="form-group">
									<label for="message-text" class="col-form-label">Last Name:</label>
									<input type="text" class="form-control" id="" placeholder="Last Name">
								</div>
							</div>
							<div class="col-xl-12">
								<div class="form-group">
									<label for="message-text" class="col-form-label">Date Of Appointment:</label>
									<input size="16" type="date" value="13-9-2021" class="form-control">
								</div>
							</div>
							<div class="col-xl-6">
								<div class="form-group">
									<label for="message-text" class="col-form-label">From:</label>
									<input size="16" type="time" value="12:00" class="form-control">
								</div>
							</div>
							<div class="col-xl-6">
								<div class="form-group">
									<label for="message-text" class="col-form-label">To:</label>
									<input size="16" type="time" value="12:00" class="form-control">
								</div>
							</div>
							<div class="col-xl-12">
								<div class="form-group">
									<label for="message-text" class="col-form-label">Address :</label>
									<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
								</div>
							</div>
							<div class="col-xl-6">
								<div class="form-group">
									<label for="message-text" class="col-form-label">Mobile No:</label>
									<input type="text" class="form-control" id="" placeholder="Mobile">
								</div>
							</div>
							<div class="col-xl-6">
								<div class="form-group">
									<label for="message-text" class="col-form-label">Email Id:</label>
									<input type="email" class="form-control" id="" placeholder="Email">
								</div>
							</div>
							<div class="col-xl-6">
								<div class="form-group">
									<label for="message-text" class="col-form-label">Consulting Doctor:</label>
									<select class="form-control">
										<option>Dr.HANI B BARADI</option>
										<option>Dr.NAJJIA N MAHMOUD</option>
										<option>Dr. SANKAR NAIDU ADUSUMILLI</option>
									</select>
								</div>
							</div>
							<div class="col-xl-6">
								<div class="form-group">
									<label for="message-text" class="col-form-label">Injury/Condition:</label>
									<input type="text" class="form-control" id="" placeholder="fever">
								</div>
							</div>
							<div class="col-xl-12">
								<div class="form-group">
									<label for="message-text" class="col-form-label">Note:</label>
									<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
								</div>
							</div>
						</div>


					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Send message</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="appointment-add-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Book Appointment</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					</button>
				</div>
				<div class="modal-body">
					<form id="appointment-form" action="{% url 'doctor:create_appointment' %}" method="post">
						{% csrf_token %}
						<div class="row form-material">
							<div class="col-xl-12">
								<div class="form-group">
									<label for="message-text" class="col-form-label">Patient</label>
									<input type="text" class="form-control" name="patient">
								</div>
							</div>
							<div class="col-xl-12">
								<div class="form-group">
									<label for="message-text" class="col-form-label">Patient Email</label>
									<input type="text" class="form-control" name="p_email">
								</div>
							</div>
							<div class="col-xl-12">
								<div class="form-group">
									<label for="message-text" class="col-form-label">Date of Appointment:</label>
									<input type="date" class="form-control" id="mdate" name="date">
								</div>
							</div>
							<div class="col-xl-6">
								<div class="form-group">
									<label class="col-form-label">From</label>
									<input size="16" class="form-control" name="start_time"
										placeholder="Starting time, 24hrs eg 13:00">
								</div>
							</div>
							<div class="col-xl-6">
								<div class="form-group">
									<label class="col-form-label">To</label>
									<input size="16" class="form-control" name="end_time"
										placeholder="End time, 24hrs eg 14:00">
								</div>
							</div>
							<div class="col-xl-6">
								<div class="form-group">
									<label for="message-text" class="col-form-label">Consulting Doctor:</label>
									<input type="text" class="form-control" name="doctor">
								</div>
							</div>
							<div class="col-xl-6">
								<div class="form-group">
									<label for="message-text" class="col-form-label">Injury/Condition</label>
									<input type="text" class="form-control" name="injury">
								</div>
							</div>
							<div class="col-xl-12">
								<div class="form-group">
									<label for="message-text" class="col-form-label">Note:</label>
									<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
										name="note"></textarea>
								</div>
							</div>
						</div>


					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" form="appointment-form" class="btn btn-primary">Make Appointment</button>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script>

	$(document).on('click', '.edit-appointment', function () {
		$('#appointment-edit-form').modal('show');
	});
	$(document).on('click', '.add-appointment', function () {
		$('#appointment-add-form').modal('show');
	});
	(function ($) {

		var table = $('#example5').DataTable({
			searching: false,
			paging: true,
			select: false,
			//info: false,         
			lengthChange: false

		});
		$('#example tbody').on('click', 'tr', function () {
			var data = table.row(this).data();

		});

	})(jQuery);

	jQuery('#datetimepicker2').datetimepicker({
		datepicker: false,
		format: 'H:i'
	});
</script>
{% endblock %}