<option>Abdominal aortic aneurysm</option>
<option>Acne</option>
<option>Acute cholecystitis</option>
<option>Acute lymphoblastic leukaemia</option>
<option>Acute lymphoblastic leukaemia: Children</option>
<option>Acute lymphoblastic leukaemia: Teenagers and young adults</option>
<option>Acute myeloid leukaemia</option>
<option>Acute myeloid leukaemia: Children</option>
<option>Acute myeloid leukaemia: Teenagers and young adults</option>
<option>Acute pancreatitis</option>
<option>Addison's disease</option>
<option>Alcohol-related liver disease</option>
<option>Allergic rhinitis</option>
<option>Allergies</option>
<option>Alzheimer's disease</option>
<option>Anal cancer</option>
<option>Anaphylaxis</option>
<option>Angioedema</option>
<option>Ankylosing spondylitis</option>
<option>Anorexia nervosa</option>
<option>Anxiety</option>
<option>Anxiety disorders in children</option>
<option>Appendicitis</option>
<option>Arthritis</option>
<option>Asbestosis</option>
<option>Asthma</option>
<option>Atopic eczema</option>
<option>Attention deficit hyperactivity disorder (ADHD)</option>
<option>Autistic spectrum disorder (ASD)</option>
<label>B</label>
<option>Bacterial vaginosis</option>
<option>Benign prostate enlargement</option>