<div class="col-md-4 mb-4">
    <div class="card text-bg-dark shadow rounded bg-dark">
        <img src="{% if facility.cover_image %} {{facility.cover_image.url}} {% endif %}" class="card-img-top"
            alt="{{facility.name}} - cover image" style="height: 210px; aspect-ratio: 16/9;">
        <div class="card-img-overla text-center"
            style="padding-top: 30px; padding-bottom: 30px; background: rgba(0, 0, 0, 0.1) !important;">
            <div class="mx-auto" style="width: 100px; height: 100px; border-radius: 10px; overflow: hidden;">
                <img src="{% if facility.logo %} {{facility.logo.url}} {% endif %}" alt="{{facility.name}} - logo">
            </div>
            <a href="{% url 'facility' facility_id=facility.id facility_slug=facility.slug %}"
                class="d-block text-decoration-none">
                <h4 class="card-title text-white">{{facility.name}}</h4>
            </a>
            <p class="card-text text-white mb-0">Location:
                {{facility.location}}</p>
            <p class="card-text text-white"><small>County -
                    {{facility.county.name}}</small>
            </p>
            {% if hide_more_info %}
            {% else %}
            <div class="d-flex justify-content-center mb-2">
                <span
                    class="d-block mx-auto badge rounded-pill text-bg-{% if facility.authorized %}success{% else %}danger{% endif %}"
                    style="width: fit-content;">
                    {% if facility.authorized %}
                    Authorized
                    {% else %}
                    UnAuthorized
                    {% endif %}
                </span>
            </div>
            <a href="{% url 'dashboard' facility_id=facility.id %}" class="btn d-block mx-auto btn-primary rounded-pill"
                style="width: 200px;">Go to Admin</a>
            {% endif %}
        </div>
    </div>
</div>