{%load static%}

<style>
    .profile-icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
    }

    .logo {
        max-height: 60px !important;
        overflow: hidden;
    }

    .logo img {
        max-height: 100% !important;
    }
</style>

<!-- Start Header Area -->
<header class="header-area">
    <div class="top-header">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <ul class="top-list">
                        <li>
                            <i class='flaticon-clock'></i>
                            Mon-Fri 09-18.00
                        </li>
                        <li>
                            <i class='flaticon-phone-call'></i>
                            <a href="tel:0738247247">Call Us: 0738247247</a>
                        </li>
                        <li>
                            <i class='flaticon-paper-plane'></i>
                            <a a href="mailto:info@resq247.live"><span class="__cf_email__"
                                    data-cfemail="6b030e0707042b02050d0445080406">info@resq247.live </span></a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-6 ">
                    <ul class="top-social d-flex justify-content-end align-items-center">
                        <li>
                            <a href="#" class="facebook">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="twitter">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="pinterest">
                                <i class="fab fa-pinterest-p"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="instagram">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <button type="button" data-bs-target="#cart-offcanvas" data-bs-toggle="offcanvas"
                                class="btn btn-danger position-relative rounded d-flex justify-content-center align-items-center"
                                style="width: 40px !important; height: 40px !important;">
                                <i class="fa fa-shopping-cart"
                                    style="font-size: 18px; background: transparent; color: white;"></i>
                                <span
                                    class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-primary"
                                    style="font-size: 12px;">
                                    <span id="navbar-count">0</span>
                                    <span class="visually-hidden">Shopping cart</span>
                                </span>
                            </button>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li>
                            <div class="nav-item dropdown dropdown-left">
                                <button
                                    class="btn btn-secondary dropdown-toggle d-flex align-items-center py-0 bg-transparent border-0"
                                    type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="profile-icon me-2">
                                        <img src="{% if request.user.profile.profile_photo %} {{request.user.profile.profile_photo.url}} {% endif %}"
                                            alt="">
                                    </div>
                                    <span class="text-capitalize">
                                        {{request.user.username}}
                                    </span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <li class="m-0 d-block">
                                        <a href="{% url 'account_profile' %}" class="dropdown-item d-bloc nav-link p-2"
                                            type="button">
                                            <i class="fa fa-user me-2"></i>
                                            Profile
                                        </a>
                                    </li>
                                    {% if request.user.is_superuser %}
                                    <li class="m-0 d-block">
                                        <a href="{% url 'super-admin' %}" class="dropdown-item d-bloc nav-link p-2 "
                                            type="button">
                                            <i class="fa fa-right-from-bracket me-2"></i>
                                            Super Admin
                                        </a>
                                    </li>
                                    {% endif %}
                                    <li class="m-0 d-block">
                                        <a href="{% url 'logout' %}" class="dropdown-item d-bloc nav-link p-2 "
                                            type="button">
                                            <i class="fa fa-right-from-bracket me-2"></i>
                                            Logout
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        {% else %}
                        <li>
                            <a href="javascript:void(0)" class="log-in" data-bs-toggle="modal"
                                data-bs-target="#login-modal1">
                                Sign In
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="sign-in" data-bs-toggle="modal"
                                data-bs-target="#signup-modal">
                                Sign Up
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Start Navbar Area -->
    <div class="navbar-area navbar-two">
        <div class="main-responsive-nav">
            <div class="container">
                <div class="main-responsive-menu">
                    <div class="logo">
                        <a href="{% url 'index' %}">
                            <img src="{% static 'assets/img/logo.png' %}" class="black-logo c-logo" alt="image">
                            <img src="{% static 'assets/img/logo-2.png' %}" class="white-logo c-logo" alt="image">
                        </a>
                    </div>
                </div>
            </div>
        </div> 

        <div class="main-navbar">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md navbar-light ">

                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="logo">
                                <a href="{% url 'index' %}">
                                    <img src="{% static 'assets/img/logo.png' %}" class="black-logo" alt="image">
                                    <img src="{% static 'assets/img/logo-2.png' %}" class="white-logo" alt="image">
                                </a>
                            </li>
                            <li class="nav-item d-flex align-items-center">
                                <a href="{% url 'service' %}" class="nav-link active">
                                    Services
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="{% url 'emergencies' %}" class="nav-link active">
                                            Emergencies
                                        </a>
                                    </li>

                                    <li class="nav-item">

                                        <a href="{% url 'birthing-care' %}" class="nav-link">
                                            Birthing Care
                                        </a>
                                    </li>

                                    <li class="nav-item">

                                        <a href="{% url 'cancer-care' %}" class="nav-link">
                                            Cancer Care
                                        </a>
                                    </li>

                                    <li class="nav-item">

                                        <a href="{% url 'family-medicine' %}" class="nav-link">
                                            Family Medicine
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="{% url 'emergency-medicine' %}" class="nav-link">
                                            Emergency Medicine
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="{% url 'laboraties-center' %}" class="nav-link">
                                            Laboratories Center
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="{% url 'online-referral' %}" class="nav-link">
                                            Online Referrals
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="{% url 'first-aid' %}" class="nav-link">
                                            First Aid Training center
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item d-flex align-items-center">
                                <a href="{% url 'about' %}" class="nav-link">
                                    About
                                </a>
                            </li>

                            <li class="nav-item d-flex align-items-center">
                                <a href="{% url 'health' %}" class="nav-link">
                                    Health information
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="{% url 'disease-list' %}" class="nav-link">
                                            Diseases Conditions A-Z
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="{% url 'health-topic' %}" class="nav-link">
                                            General Health Topics
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'healthy-living' %}" class="nav-link">
                                            Healthy living and lifestyle
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'facilities' %}" class="nav-link">
                                            Medical facility and location
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item d-flex align-items-center">
                                <a href="{% url 'solution' %}" class="nav-link">
                                    Solution
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="{% url 'analytic' %}" class="nav-link">
                                            Analytic Solutions
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="{% url 'healthcare' %}" class="nav-link">
                                            Healthcare services financing

                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'equip' %}" class="nav-link">
                                            Healthcare equip financing
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'shop' %}" class="nav-link">
                                            Med E-commerce

                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'medicare' %}" class="nav-link">
                                            IT Medicare solutions

                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'telehealth' %}" class="nav-link">
                                            Telehealth facilities Hosting

                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            Emergency medical response

                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item d-flex align-items-center">
                                <a href="{% url 'health' %}" class="nav-link">
                                    Health in Hand
                                    <i class="fa fa-angle-down"></i>
                                </a>

                                <ul class="dropdown-menu ">
                                    <li class="nav-item">
                                        <a href="{% url 'conditions_upload' %}" class="nav-link">
                                            Upload Conditions
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'teams' %}" class="nav-link">
                                            Team
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="{% url 'project' %}" class="nav-link">
                                            Projects
                                            <i class="fa fa-angle-down"></i>
                                        </a>

                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="{% url 'project' %}" class="nav-link">
                                                    Projects
                                                </a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="{% url 'project-details' %}" class="nav-link">
                                                    Projects details
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="nav-item">
                                        <a href="{% url 'faq' %}" class="nav-link">
                                            FAQ
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="{% url 'appointment' %}" class="nav-link">
                                            Appointment
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="{% url 'testimonials' %}" class="nav-link">
                                            Testimonials
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="{% url 'how-it-works' %}" class="nav-link">
                                            How It Works
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="{% url 'shop' %}" class="nav-link">
                                            Shop
                                            <i class="fa fa-angle-down"></i>
                                        </a>


                                        <ul class="dropdown-menu" style="">
                                            <li class="nav-item">
                                                <a href="{% url 'refill-prescription' %}" class="nav-link">
                                                    Refill prescription
                                                </a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="{% url 'allergy-medicine' %}" class="nav-link">
                                                    Allergy medicine
                                                </a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="{% url 'mobile-aid' %}" class="nav-link">
                                                    Mobility aid
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="{% url 'medical-devices' %}" class="nav-link">
                                                    Medical devices
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="{% url 'prescription-medication' %}" class="nav-link">
                                                    Prescription medication
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="{% url 'nutraceuticals' %}" class="nav-link">
                                                    Nutraceuticals
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="nav-item">
                                        <a href="{% url 'terms-conditions' %}" class="nav-link">
                                            Terms & Conditions
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="{% url 'privacy-policy' %}" class="nav-link">
                                            Privacy Policy
                                        </a>
                                    </li>


                                </ul>
                            </li>

                            <li class="nav-item d-flex align-items-center">
                                <a href="{% url 'blogs' %}" class="nav-link">
                                    Blogs
                                </a>
                            </li>

                            <li class="nav-item d-flex align-items-center">
                                <a href="{% url 'contact' %}" class="nav-link">
                                    Contact
                                </a>
                            </li>
                        </ul>

                        <div class="others-options d-flex gap-2">
                            <a href="#" class="default-btn bg-primary h-25 me-2" style="font-weight: 600;">
                                Request Demo
                                <span></span>
                            </a>
                            <a href="#" class="default-btn bg-primary h-25 me-2" style="font-weight: 600;">
                                Free Trial
                                <span></span>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->
</header>
<!-- End Header Area -->

<!-- Cart offcanvas -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="cart-offcanvas" aria-labelledby="cart-header">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="cart-header">Shopping Cart</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Qty</th>
                        <th>Sub total</th>
                    </tr>
                </thead>
                <tbody class="align-middle" id="navbar-cart">

                </tbody>
            </table>
        </div>

    </div>
    <div class="offcanvas-footer py-2">
        <div class="h-100 d-flex align-items-center px-3">
            <h4 class="m-0 p-0">KES <span id="navbar-total"></span></h4>
            <a href="{% url 'cart' %}" class="btn btn-primary d-block rounded-pill py-2 px-4 ms-auto">
                <span class="me-2">Cart</span>
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
    </div>
</div>
<!-- End of offcanvas cart -->


<!-- Sign In Modal -->
<div class="modal fade" id="login-modal1" tabindex="-1" aria-labelledby="login-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="login-modal-title">Sign In to Your Account</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include './../auth/sign-in-component.html' %}
            </div>
            <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
        </div>
    </div>
</div>


<!-- Sign Up Modal -->
<div class="modal fade" id="signup-modal" tabindex="-1" aria-labelledby="signup-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="signup-modal-title">Create a new Free account</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include './../auth/sign-up-component.html' %}
            </div>
            <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
        </div>
    </div>
</div>