{% extends 'base.html' %}
{% load static %}

{% block title %} Mombasa Medical Facilites {% endblock title %}

{% block content %}

        <!-- Start Page Title Area -->
        <div class="page-title-area item-bg-5">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>Mombasa Medical Facilities</h2>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li>Mombasa Medical Facilities</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->
        
<div class="main-navbar">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-light">
            

            <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    

                    <li class="nav-item">
                        <a href="{% url 'nairobi' %}" class="nav-link">
                            Nairobi
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'nakuru' %}" class="nav-link">
                            Nakuru
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'kisumu' %}" class="nav-link">
                            Kisumu
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'eldoret' %}" class="nav-link">
                            Eldoret
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'mombasa' %}" class="nav-link">
                            Mombasa
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'nyeri' %}" class="nav-link">
                            Nyeri
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'embu' %}" class="nav-link">
                            Embu
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'machakos' %}" class="nav-link">
                            Machakos
                        </a>
                    </li>
                </ul>

            </div>
        </nav>
    </div>
</div>

<form style="display:none; float:right;" class="mb-3">

   <input type="text" id="search-input" placeholder="Search..." style="margin-right:1.5rem">
    <button id="search-button" class="default-btn" style="background:blue; border-radius:0px; padding-top:0px; padding-bottom:0px;">Search</button>
  </form>
  
  <table id="my-table" class="table-bordered w-100" style="margin:1.5rem">
    <thead style="">
      <tr>
        <th>NAME</th>
            <th>TYPE</th>
            <th>CONSTITUENCY</th>
            <th>EMAIL</th>
            <th>CONTACT</th> 
      </tr>
    </thead>
    <tbody style="" id="table-body">
      
        <tr style="">
          <td> Badria Medical Clinic</td>
          <td>Medical Clinic</td>
          <td>Nyali Constituency</td>
          <td>issa.jabir@live.com</td>
          <td></td>
                   
        </tr>

        <tr>
            <td> Bay Leaf Health Center</td>
            <td>Medical Clinic</td>
            <td>Mvita Constituency</td>
            <td> info@bayleafhospital.com</td>
            <td></td>
           
        </tr>

        <tr>
            <td> Chaani Catholic</td>
            <td>Dispensary</td>
            <td>Changamwe Constituency</td>
            <td></td>
            <td></td>
           
        </tr>
      
        <tr>
            <td> Coast General Teaching and Referral Hospital</td>
            <td> Secondary care hospitals</td>
            <td>MVITA</td>
            <td></td>
            <td></td>
           
        </tr>

        <tr>
            <td> Gomba Medical Clinic</td>
            <td>Medical Clinic</td>
            <td>Likoni Constituency</td>
            <td></td>
            <td></td>
           
        </tr>

        <tr>
            <td> Jomvu Model Health Centre</td>
            <td>Basic Health Centre</td>
            <td>Jomvu Constituency</td>
            <td></td>
            <td></td>
           
        </tr>

        <tr>
            <td> Joy Medical Clinic (Jomvu)</td>
            <td>Medical Clinic</td>
            <td>Jomvu Constituency</td>
            <td></td>
            <td></td>
           
        </tr>

        <tr>
            <td> Kiembeni Community</td>
            <td>Primary care hospitals</td>
            <td>Kisauni Constituency</td>
            <td></td>
            <td></td>
           
        </tr>

        <tr>
            <td> Kisimani Health Services</td>
            <td>Medical Clinic</td>
            <td>Nyali Constituency</td>
            <td></td>
            <td></td>
           
        </tr>

        <tr>
            <td> Latulla Medical Centre</td>
            <td>Medical Clinic</td>
            <td>Jomvu Constituency</td>
            <td></td>
            <td></td>
           
        </tr>

        <tr>
            <td> Likoni Catholic Hospital</td>
            <td>Comprehensive Health Centre</td>
            <td>Likoni Constituency</td>
            <td></td>
            <td></td>
           
        </tr>

        <tr>
            <td> Majengo Nursing Home Mombasa Limited</td>
            <td>Nursing and Maternity Home</td>
            <td>Mvita Constituency</td>
            <td></td>
            <td></td>
           
        </tr>

        <tr>
            <td> Mewa Hospital</td>
            <td>Primary care hospitals</td>
            <td>Mvita Constituency</td>
            <td></td>
            <td></td>
           
        </tr>

        <tr>
            <td> Mikindani Medical Clinic</td>
            <td>Medical Clinic</td>
            <td>Jomvu Constituency</td>
            <td></td>
            <td></td>
           
        </tr>

        <tr>
            <td> Mombasa Cancer Center</td>
            <td>Medical Center</td>
            <td>Mvita Constituency</td>
            <td></td>
            <td></td>
           
        </tr>

        <tr>
            <td> Mombasa Dialysis Centre Ltd</td>
            <td>Nursing Homes</td>
            <td>Mvita Constituency</td>
            <td></td>
            <td></td>
           
        </tr>

        <tr>
            <td> Mother Amadea Health Centre</td>
            <td>Basic Health Centre</td>
            <td>Jomvu Constituency</td>
            <td></td>
            <td></td>
           
        </tr>

        <tr>
            <td> Mtongwe Afya Bora Nursing Home</td>
            <td>Medical Center</td>
            <td>Likoni Constituency</td>
            <td></td>
            <td></td>
           
        </tr>

        <tr>
            <td> Salaam Hospital</td>
            <td>Medical Center</td>
            <td>Mvita Constituency</td>
            <td></td>
            <td></td>
           
        </tr>

        <tr>
            <td> Savani Medical Centre</td>
            <td>Medical Center</td>
            <td>Likoni Constituency</td>
            <td></td>
            <td></td>
           
        </tr>

        <tr>
            <td> Shelly Beach Hospital</td>
            <td>Primary care hospitals</td>
            <td>Likoni Constituency</td>
            <td></td>
            <td></td>
           
        </tr>

    </tbody>
  </table>
  
  <div id="pagination" class="mb-3 mx-2">
    <button id="prev-button" class="default-btn" style="background:gray; border-radius:0px; padding-top:0px; padding-bottom:0px;">Previous</button>
    <span id="page-number"></span>
    <button id="next-button" class="default-btn" style="background:blue; border-radius:0px; padding-top:0px; padding-bottom:0px;">Next</button>
  </div>

  <script>
    
    let rowsPerPage = 10;
    let currentPage = 0;
    let rows = Array.from(document.querySelectorAll('#my-table tbody tr'));
    let numPages = Math.ceil(rows.length / rowsPerPage);
    
    function showPage(page) {
      currentPage = page;
      let startIndex = currentPage * rowsPerPage;
      let endIndex = startIndex + rowsPerPage;
      rows.forEach((row, index) => {
        row.style.display = (index >= startIndex && index < endIndex) ? 'table-row' : 'none';
      });
    }
    
    function showPrevPage() {
      if (currentPage > 0) {
        showPage(currentPage - 1);
      }
    }
    
    function showNextPage() {
      if (currentPage < numPages - 1) {
        showPage(currentPage + 1);
      }
    }
    
    document.querySelector('#search-button').addEventListener('click', function() {
        let searchInput = document.querySelector('#search-input').value;
        let tableRows = document.querySelectorAll('#table-body tr');
      
        tableRows.forEach(function(row) {
          let name = row.children[0].textContent;
          if (name.toLowerCase().indexOf(searchInput.toLowerCase()) === -1) {
            row.style.display = "none";
          } else {
            row.style.display = "table-row";
          }
        });
      });
      
    
    document.querySelector('#prev-button').addEventListener('click', showPrevPage);
    document.querySelector('#next-button').addEventListener('click', showNextPage);
    
    showPage(0);
  </script>
  
  
  
  
  {% endblock %} 
