{% extends './../base.html' %}
{% load static %}
{% block title %} Create New Account {% endblock title %}
{% block content %}
<!-- End Header Area -->

<!-- Start Page Title Area -->
<div class="page-title-area item-bg-2">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Sign Up</h2>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li>Sign Up</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Signup Area -->
<div class="signup-area ptb-100">
    <div class="container">
        {% include './sign-up-component.html' %}
    </div>
</div>
<!-- End Signup Area -->

{% endblock %}