{% extends './../../base.html' %}
{% block title %} Blogs Admin {% endblock %}
{% load customtags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="page-description">
                <h1>Blogs</h1>
            </div>
        </div>
    </div>
    <div class="row">
        
        <div class="col-xl-4">
            <div class="card widget widget-stats">
                <div class="card-body">
                    <div class="widget-stats-container d-flex">
                        <div class="widget-stats-icon widget-stats-icon-primary">
                            <i class="material-icons-outlined">rss_feed</i>
                        </div>
                        <div class="widget-stats-content flex-fill">
                            <span class="widget-stats-title">Total Blogs</span>
                            <span class="widget-stats-amount">{{total_blogs}}</span>
                            <!-- <span class="widget-stats-info">471 Orders Total</span> -->
                        </div>
                        <!-- <div class="widget-stats-indicator widget-stats-indicator-negative align-self-start">
                            <i class="material-icons">keyboard_arrow_down</i> 4%
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="">
        <div class="row">
            {% for blog in blogs %}
            <div class="col-md-6">
                <div class="card widget widget-popular-blog">
                    <div class="card-body">
                        <div class="widget-popular-blog-container">
                            <div class="widget-popular-blog-image">
                                <img src="{{blog.image.url}}"
                                    alt="{{blog.title}}">
                            </div>
                            <div class="widget-popular-blog-content ps-4">
                                <span class="widget-popular-blog-title">
                                    {{blog.title}}
                                </span>
                                <span class="widget-popular-blog-text">
                                    {{blog.body|striptags|truncatewords:20}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="widget-popular-blog-date">
                            Date: {{blog.created_on|timesince}}
                        </span>
                        <a href="{% url 'single_blog' blog.id blog.slug %}" target="_blank" class="btn btn-primary float-end">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}