{% extends './../../base.html' %}
{% load static %}
{% block title %} Blogs Admin - New Blog {% endblock %}
{% load customtags %}

{% block styles %}
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<link href="{% static 'superadmin/assets/plugins/select2/css/select2.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="page-description">
                <h1>Write a New Blog</h1>
            </div>
        </div>
    </div>
    <div>
        <form action="" class="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="title" class="form-label">Blog Title</label>
                <input type="text" name="title" required class="form-control shadow-none" id="title">
            </div>
            <div class="form-group mb-3">
                <label for="tags" class="form-label">Blog Tags</label>
                <select class="js-states form-control" name="tags" id="tags" tabindex="-1" multiple
                    style="display: none; width: 100%">
                   {% for tag in tags %}
                   <option value="{{tag.id}}">{{tag.name}}</option>
                   {% endfor %}
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="blog" class="form-label">Write the Blog</label>
                <textarea name="body" id="blog" required rows="30"></textarea>
            </div>
            <div class="form-group mb-3">
                <label for="blog" class="form-label">Blog Image</label>
                <input type="file" accept="image/*" class="form-control shadow-none" required name="image">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Publish Blog</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}

<script src="{% static 'superadmin/assets/plugins/summernote/summernote-lite.min.js' %}"></script>
<script src="{% static 'superadmin/assets/plugins/select2/js/select2.full.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#tags').select2();
        $('#blog').summernote({
            height: 600,

        });
    });
</script>
{% endblock %}