{% load customtags %}

<div class="app-sidebar">
    <div class="logo">
        <a href="index.html" class="logo-icon"><span class="logo-text">Neptune</span></a>
        <div class="sidebar-user-switcher user-activity-online">
            <a href="index.html#">
                <img src="http://polygons.space/neptune/source/assets/images/avatars/avatar1.jpeg">
                <span class="activity-indicator"></span>
                <span class="user-info-text">Chloe<br><span class="user-state-info">On a call</span></span>
            </a>
        </div>
    </div>
    <div class="app-menu">
        <ul class="accordion-menu">

            <li class="sidebar-title">
                App
            </li>
            <li>
                <a href="{% url 'index' %}">
                    <i class="material-icons-two-tone">home</i>
                    Go Home
                </a>
            </li>
            <li class="{% if request.path == 'super-admin'|get_full_url %}active-page{% endif %}">
                <a href="{% url 'super-admin' %}" class="{% if request.path == 'super-admin'|get_full_url %}active{% endif %}">
                    <i class="material-icons-two-tone">dashboard</i>
                    Dashboard
                </a>
            </li>

            <li class="sidebar-title">
                App
            </li>
            <li class="{% if request.path == 'super-admin-users'|get_full_url %}active-page{% endif %}">
                <a href="{% url 'super-admin-users' %}" class="{% if request.path == 'super-admin-users'|get_full_url %}active{% endif %}">
                    <i class="material-icons-two-tone">settings</i>
                    App Settings
                </a>
            </li>

            <li class="sidebar-title">
                Users
            </li>
            <li class="{% if request.path == 'super-admin-users'|get_full_url %}active-page{% endif %}">
                <a href="{% url 'super-admin-users' %}" class="{% if request.path == 'super-admin-users'|get_full_url %}active{% endif %}">
                    <i class="material-icons-two-tone">account_circle</i>
                    Users
                </a>
            </li>
            <li class="{% if request.path == 'super-admin-doctors'|get_full_url %}active-page{% endif %}">
                <a href="{% url 'super-admin-doctors' %}" class="{% if request.path == 'super-admin-doctors'|get_full_url %}active{% endif %}">
                    <i class="material-icons">self_improvement</i>
                    Doctors
                </a>
            </li>
            <li class="{% if request.path == 'super-admin-staff'|get_full_url %}active-page{% endif %}">
                <a href="{% url 'super-admin-staff' %}" class="{% if request.path == 'super-admin-staff'|get_full_url %}active{% endif %}">
                    <i class="material-icons">support_agent</i>
                    Staff
                </a>
            </li>
            <li class="{% if request.path == 'super-admin-patients'|get_full_url %}active-page{% endif %}">
                <a href="{% url 'super-admin-patients' %}" class="{% if request.path == 'super-admin-patients'|get_full_url %}active{% endif %}">
                    <i class="material-icons">personal_injury</i>
                    Patients
                </a>
            </li>

            <li class="sidebar-title">
                Mailing
            </li>
            <li class="{% if request.path == 'super-admin-emailconfigs'|get_full_url %}active-page{% endif %}">
                <a href="{% url 'super-admin-emailconfigs' %}" class="{% if request.path == 'super-admin-emailconfigs'|get_full_url %}active{% endif %}">
                    <i class="material-icons">outgoing_mail</i>
                    Email Configurations
                </a>
            </li>
            <li class="{% if request.path == 'super-admin-emails'|get_full_url %}active-page{% endif %}">
                <a href="{% url 'super-admin-emails' %}" class="{% if request.path == 'super-admin-emails'|get_full_url %}active{% endif %}">
                    <i class="material-icons">email</i>
                    Emails
                </a>
            </li>

            <li class="sidebar-title">
                Facilities
            </li>
            <li class="{% if request.path == 'super-admin-facility_types'|get_full_url %}active-page{% endif %}">
                <a href="{% url 'super-admin-facility_types' %}" class="{% if request.path == 'super-admin-facility_types'|get_full_url %}active{% endif %}">
                    <i class="material-icons">maps_home_work</i>
                    Facility Types
                </a>
            </li>
            <li class="{% if request.path == 'super-admin-facilities'|get_full_url %}active-page{% endif %}">
                <a href="{% url 'super-admin-facilities' %}" class="{% if request.path == 'super-admin-facilities'|get_full_url %}active{% endif %}">
                    <i class="material-icons">local_hospital</i>
                    Facilities
                </a>
            </li>
            <li class="{% if request.path == 'super-admin-appointments'|get_full_url %}active-page{% endif %}">
                <a href="{% url 'super-admin-appointments' %}" class="{% if request.path == 'super-admin-appointments'|get_full_url %}active{% endif %}">
                    <i class="material-icons">event</i>
                    Appointments
                </a>
            </li>
            <li class="{% if request.path == 'super-admin-encounters'|get_full_url %}active-page{% endif %}">
                <a href="{% url 'super-admin-encounters' %}" class="{% if request.path == 'super-admin-encounters'|get_full_url %}active{% endif %}">
                    <i class="material-icons">tour</i>
                    Patient Medical Data
                </a>
            </li>
            <li class="{% if request.path == 'super-admin-conditions'|get_full_url %}active-page{% endif %}">
                <a href="{% url 'super-admin-conditions' %}" class="{% if request.path == 'super-admin-conditions'|get_full_url %}active{% endif %}">
                    <i class="material-icons">coronavirus</i>
                    Conditions/Diseases
                </a>
            </li>
            <li class="{% if request.path == 'super-admin-specialities'|get_full_url %}active-page{% endif %}">
                <a href="{% url 'super-admin-specialities' %}" class="{% if request.path == 'super-admin-specialities'|get_full_url %}active{% endif %}">
                    <i class="material-icons">medication</i>
                    Specialities
                </a>
            </li>
            <li class="{% if request.path == 'super-admin-service_categories'|get_full_url %}active-page{% endif %}">
                <a href="{% url 'super-admin-service_categories' %}" class="{% if request.path == 'super-admin-service_categories'|get_full_url %}active{% endif %}">
                    <i class="material-icons">category</i>
                    Service Categories
                </a>
            </li>
            <li class="{% if request.path == 'super-admin-services'|get_full_url %}active-page{% endif %}">
                <a href="{% url 'super-admin-services' %}" class="{% if request.path == 'super-admin-services'|get_full_url %}active{% endif %}">
                    <i class="material-icons">settings_suggest</i>
                    Services
                </a>
            </li>

            <li class="sidebar-title">
                Shop
            </li>
            <li>
                <a href="#">
                    <i class="material-icons">vaccines</i>
                    Pharmacies
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="material-icons">local_convenience_store</i>
                    Neutracitacals
                </a>
            </li>
            <li class="{% if request.path == 'super-admin-product_categories'|get_full_url %}active-page{% endif %}">
                <a href="{% url 'super-admin-product_categories' %}" class="{% if request.path == 'super-admin-product_categories'|get_full_url %}active{% endif %}">
                    <i class="material-icons">category</i>
                    Product Categories
                </a>
            </li>
            <li class="{% if request.path == 'super-admin-products'|get_full_url %}active-page{% endif %}">
                <a href="{% url 'super-admin-products' %}" class="{% if request.path == 'super-admin-products'|get_full_url %}active{% endif %}">
                    <i class="material-icons">inventory_2</i>
                    Products
                </a>
            </li>
            <li class="{% if request.path == 'super-admin-orders'|get_full_url %}active-page{% endif %}">
                <a href="{% url 'super-admin-orders' %}" class="{% if request.path == 'super-admin-orders'|get_full_url %}active{% endif %}">
                    <i class="material-icons">grading</i>
                    Orders
                </a>
            </li>

            <li class="sidebar-title">
                Locations
            </li>
            <li class="{% if request.path == 'super-admin-counties'|get_full_url %}active-page{% endif %}">
                <a href="{% url 'super-admin-counties' %}" class="{% if request.path == 'super-admin-counties'|get_full_url %}active{% endif %}">
                    <i class="material-icons">place</i>
                    Counties
                </a>
            </li>
            <li class="{% if request.path == 'super-admin-constituencies'|get_full_url %}active-page{% endif %}">
                <a href="{% url 'super-admin-constituencies' %}" class="{% if request.path == 'super-admin-constituencies'|get_full_url %}active{% endif %}">
                    <i class="material-icons">gps_fixed</i>
                    Constituencies
                </a>
            </li>

            <li class="sidebar-title">
                Others
            </li>
            <li>
                <a href="{% url 'super-admin-blogs' %}" target="_blank">
                    <i class="material-icons-two-tone">rss_feed</i>
                    Blogs
                </a>
            </li>
            <li>
                <a href="{% url 'api-docs' %}" target="_blank">
                    <i class="material-icons-two-tone">bookmark</i>
                    API Documentation
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="material-icons-two-tone">access_time</i>
                    Activity Log
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="material-icons">settings</i>
                    Profile Settings
                </a>
            </li>
        </ul>
    </div>
</div>